doctype html
html(lang="uk")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-55202239-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-55202239-3');

    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='WebSIS & Company')
    
    block meta
      meta(name='keywords', content='закладки, топ сайти, популярні сайти, список сайтів, швидкі посилання, медіа, новини, соцмережі, відео, радіо, музика, bookmarks, top websites, popular websites, website directory, quick links, speed dial, media, news, social networks, video, radio, music')
      meta(name='description', content='Повний перелік популярних веб-сайтів. Зручний каталог сортований за тематикою. Топ сайти в одному місці. Зручність в Інтернеті.')

    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    
    // Bootstrap CSS
    link(href='styles/bootstrap.min.css', rel='stylesheet')
    link(href='styles/all.css', rel='stylesheet')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(href='styles/base64.css', rel='stylesheet')
    link(href='styles/main.css', rel='stylesheet')
    link(href='styles/hamburgers.min.css', rel='stylesheet')
    link(href='styles/animation.css', rel='stylesheet')
    link(href='styles/menu_button.css', rel='stylesheet')

    block title
      title ЗАКЛАДКИ - Список популярних сайтів (ТОП ЗАКЛАДКИ)
  
body
//- Кнопка-меню
  button.floating-menu-btn(type='button', onclick="document.getElementById('navbarCollapse').classList.toggle('show')")
    span ☰

    .container.nav-container
      nav.navbar.navbar-expand-md.fixed-top.navbar-dark.d-flex.justify-content-center
        .container-fluid
          .collapse.navbar-collapse.text-center#navbarCollapse
            //- Кнопка теми тепер усередині меню для мобільних
            .theme-toggle-menu-wrapper
              //- Тут залиште ваш оригінальний код кнопки теми, наприклад:
              button#themeToggle.btn.btn-link(type="button") 🌙
            block menu

    .container-fluid.main
      .row
        .tab-content.container
          block content
        
        footer.footer.mt-auto.py-3
          .container
            .row.align-items-center.justify-content-between

              .col-sm.footer-col.d-flex.justify-content-center
                .kolobok.d-flex.align-items-center.gap-3
                  a(href='https://t.me/zakladki_top_one', target='_blank', title='Telegram: КАНАЛ в ТЕЛЕГРАМ')
                    i.fab.fa-telegram.fa-lg(aria-hidden='true')
                    |  Telegram
                  a(href='https://t.me/zakladki_top', target='_blank')
                    i.fas.fa-comments
                    |  ЧАТ
                  a(href='https://youtu.be/BdZQy6upWFc', target='_blank', title='Відеоінструкція: автозапуск ЗАКЛАДОК')
                    i.fas.fa-play-circle.fa-lg.coloriconfuter(aria-hidden='true')
                    |  Help

              .col-sm.footer-col.d-flex.justify-content-center
                .kolobok.d-flex.align-items-center.gap-3
                  a.btn.btn-primary.btn-sm(href='https://docs.google.com/document/d/15VLtvFvXNxhkXU_ZH74387e289Rx6If2Zmrp4m8KFAc', title='Переслати кошти на утримання сайта (зарані ДЯКУЄМО Всім хто перекине грошенят)', role='button', target='_blank') Підтримати сайт
                  
                  //- MyCounter v.2.0
                  script(type='text/javascript').
                    var my_id = 168151;
                    var my_width = 88;
                    var my_height = 31;
                    var my_alt = "MyCounter - счётчик и статистика";
                  script(type='text/javascript', src='https://get.mycounter.ua/counter2.0.js')
                  noscript
                    a(target='_blank', href='https://mycounter.ua/')
                      img(src='https://get.mycounter.ua/counter.php?id=168151', title='MyCounter - счётчик и статистика', alt='MyCounter - счётчик и статистика', width='88', height='31', border='0')

              .col-sm.footer-col.d-flex.justify-content-center
                .kolobok.d-flex.align-items-center.gap-3
                  a(href='mailto:weber515sis@gmail.com', target='_blank', title='E-mail: weber515sis@gmail.com')
                    i.far.fa-envelope.fa-lg(aria-hidden='true')
                    |  E-mail
                  a(href='https://t.me/zakladki_top', target='_blank')
                    i.fas.fa-question-circle
                    |  Питання