doctype html
html(lang="ru")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-55202239-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-55202239-3');
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-55202239-3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-55202239-3');
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='WebSIS & Company')
    block meta
      meta(name='keywords', content='лучшие сайты, популярные сайты, каталог сайтов, быстрые ссылки, cписок найпопулярніших веб-сайтів, топ сайтів, speeddial, новости, соцсети, видео, погода')
      meta(name='description', content='Полный список самых популярных сайтов интернета. Удобный каталог сайтов с сортировкой по тематике. Все топ сайты в одном месте. Все для удобства в интернете.')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    // Player-top
    script(src='//zakladki.github.io/playerjs.js', type='text/javascript')
    // Bootstrap CSS
    link(href='styles/bootstrap.min.css', rel='stylesheet')
    link(href='styles/all.css', rel='stylesheet')
    link(href='styles/base64.css', rel='stylesheet')
    link(href='styles/main.css', rel='stylesheet')
    link(href='styles/hamburgers.min.css', rel='stylesheet')
    link(href='styles/animation.css', rel='stylesheet')
    link(href='styles/menu_button.css', rel='stylesheet')

    block title
      title ZAKLADKI - Список популярных сайтов (ТОП ЗАКЛАДКИ)
  body
    .container.nav-container
      nav.navbar.navbar-expand-md.fixed-top.navbar-dark.d-flex.justify-content-center
        .hamburger.hamburger--spring.navbar-toggler(data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
          .hamburger-box
            .hamburger-inner
        .container-fluid
          .collapse.navbar-collapse.text-center#navbarCollapse
            block menu

    .container-fluid.main
      .row
        .tab-content.container
          block content
    footer.footer.mt-auto.py-3.fixed-bottom
      .container
        .row

          .col-sm.footer-col
            .kolobok
              a.btn.btn-primary.btn-sm(href='https://docs.google.com/document/d/15VLtvFvXNxhkXU_ZH74387e289Rx6If2Zmrp4m8KFAc', title='Переслати кошти на утримання сайта (зарані ДЯКУЄМО Всім хто перекине грошенят)', role='button', target='_blank') Підтримати сайт

          .col-sm.footer-col
            .kolobok
              ul.share-buttons
                // AddToAny BEGIN
                .a2a_kit.a2a_kit_size_32.a2a_default_style(data-a2a-url='https://zakladki.github.io', data-a2a-title='Топ Закладки')
                  a.a2a_dd(href='https://www.addtoany.com/share')
                  a.a2a_button_facebook
                  a.a2a_button_vk
                  a.a2a_button_odnoklassniki
                  a.a2a_button_telegram
                  a.a2a_button_viber
                  a.a2a_button_skype
                script.
                  var a2a_config = a2a_config || {};
                  a2a_config.onclick = 1;
                  a2a_config.locale = "ru";
                  a2a_config.num_services = 6;
                script(async='', src='https://static.addtoany.com/menu/page.js')
                // AddToAny END

          .col-sm.footer-col
            .kolobok
              a(href='skype:webersis?chat', target='_blank', title='SKYPE: webersis')
                i.fab.fa-skype.fa-lg(aria-hidden='true')
              a(href='mailto:weber515sis@gmail.com', target='_blank', title='E-mail: weber515sis@gmail.com')
                i.far.fa-envelope.fa-lg(aria-hidden='true')
              a(href='https://t.me/zakladki_top_one', target='_blank', title='Telegram: КАНАЛ в ТЕЛЕГРАМ')
                i.fab.fa-telegram.fa-lg(aria-hidden='true')
              a(href='https://youtu.be/BdZQy6upWFc', target='_blank', title='Відеоінструкція: автозапуск ZAKLADOK')
                i.fas.fa-medkit.fa-lg.coloriconfuter(aria-hidden='true')
                  
          .col-sm.footer-col
            .kolobok
              //- LiveInternet counter
              script(type='text/javascript').
                document.write("<a href='//www.liveinternet.ru/click' " +
                "target=_blank><img src='//counter.yadro.ru/hit?t52.10;r" +
                escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                ";h" + escape(document.title.substring(0, 150)) + ";" + Math.random() +
                "' alt='' title='LiveInternet: показано число просмотров и" +
                " посетителей за 24 часа' " +
                "border='0' width='88' height='31'>")

              //- MyCounter v.2.0
              script(type='text/javascript').
                <!--
                my_id = 168151;
                my_width = 88;
                my_height = 31;
                my_alt = "MyCounter - счётчик и статистика";
                //-->
              script(type='text/javascript', src='https://get.mycounter.ua/counter2.0.js')
              noscript
                a(target='_blank', href='https://mycounter.ua/')
                  img(src='https://get.mycounter.ua/counter.php?id=168151', title='MyCounter - счётчик и статистика', alt='', width='88', height='31', border='0')
   
              // HotLog невидимка
                span#hotlog_counter
                span#hotlog_dyn
              script(type='text/javascript').
                var hot_s = document.createElement('script');
                hot_s.type = 'text/javascript'; hot_s.async = true;
                hot_s.src = 'http://js.hotlog.ru/dcounter/2575836.js';
                hot_d = document.getElementById('hotlog_dyn');
                hot_d.appendChild(hot_s);
              noscript
              a(href='http://click.hotlog.ru/?2575836', target='_blank')
                img(src='http://hit20.hotlog.ru/cgi-bin/hotlog/count?s=2575836&im=605', border='0', width='1', height='1', alt='')
   
              //- // HotLog видимый
              //- span#hotlog_counter
              //- span#hotlog_dyn
              //- script(type='text/javascript').
              //-   var hot_s = document.createElement('script');
              //-   hot_s.type = 'text/javascript'; hot_s.async = true;
              //-   hot_s.src = 'http://js.hotlog.ru/dcounter/2575836.js';
              //-   hot_d = document.getElementById('hotlog_dyn');
              //-   hot_d.appendChild(hot_s);
              //- noscript
              //- a(href='http://click.hotlog.ru/?2575836', target='_blank')
              //-   img(src='http://hit20.hotlog.ru/cgi-bin/hotlog/count?s=2575836&im=605', border='0', alt='')

          .col-sm.footer-col
            .kolobok
              a(href='https://t.me/zakladki_top', target='_blank') ЧАТ
              |  / 
              a(href='https://t.me/zakladki_top', target='_blank') Задати питання
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
    script(src='js/main.js')
