mixin navLink(link, name, iclass)
  li.nav-item
    a.nav-link(
      href=link
      class={active: (name === current | iclass === current_iclass)}
    ) #{name}
      i(
        class=iclass
      )

ul.nav.nav-pills.mb-3.navbar-nav
  +navLink('/', '', 'fas fa-home')
  +navLink('./social.html', 'Соціум')
  +navLink('./news.html', 'Новини')
  +navLink('./media.html', 'Медіа')
  +navLink('./games.html', 'Ігри')
  +navLink('./communal.html', 'Комуналка')
  +navLink('./bank.html', 'Банкінг')
  +navLink('./market.html', 'Ринок')
  +navLink('./shops.html', 'Магазини')
  +navLink('./others.html', 'Інше')
  +navLink('./city.html', 'Городок')
  +navLink('./programs.html', '', 'fas fa-microchip')
