mixin navLink(link, name, isSoft)
  li.nav-item
    a.nav-link(
      href=link
      class={active: (name === current || (name === "Головна" && current === "Главная")), "soft-link": isSoft}
    )
      | #{name}

ul.nav.nav-pills.mb-3.navbar-nav
  +navLink("/", "Головна", false)
  +navLink("./social.html", "Соціум", false)
  +navLink("./news.html", "Новини", false)
  +navLink("./media.html", "Медіа", false)
  +navLink("./games.html", "Ігри", false)
  +navLink("./communal.html", "Комуналка", false)
  +navLink("./bank.html", "Банкінг", false)
  +navLink("./market.html", "Ринок", false)
  +navLink("./shops.html", "Магазини", false)
  +navLink("./others.html", "Інше", false)
  +navLink("./city.html", "Городок", false)
  +navLink("./programs.html", "Soft", true)