extends _layout.pug
  
block title
  title Комуналка - ЗАКЛАДКИ - Список популярних сайтів (ТОП ЗАКЛАДКИ)

block menu
  - var current = 'Комуналка'
  - var current_iclass = 'communal'
  include _nav.pug

block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          span.badge.badge-warning Легкі-оплати
        ul
          li
            div.icon.portmone.com.ua
            a(href='https://www.portmone.com.ua/', target='_blank') portmone
            span.opisi Платіжна система
      .group
        .group-title
          span.badge.badge-success ГАЗ
        ul
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/tariff/gas/', target='_blank') minfin.com.ua
            span.opisi офц.ціна.газ
          li
            div.icon.prostobank.ua
            a(href='http://www.prostobank.ua/spravochniki/indikatory_rynka/gas_tariff', target='_blank') prostobank.ua
            span.opisi ціна.газ
          li
            div.icon.naftogazpostach.com
            a(href='https://gas.ua/', target='_blank') naftogaz
            span.opisi Каб.Газ.(!!!)
          li
            div.icon.gasolina-online.com
            a(href='https://gasolina-online.com/', target='_blank') gasolina
            span.opisi Каб.Газ.(доставка)
          li
            div.icon.a104.ua
            a(href='https://104.ua/ua/', target='_blank') 104.ua
            span.opisi Пошук компанії
      .group
        .group-title
          span.badge.badge-success Електроенергія
        ul
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/tariff/electric/', target='_blank') minfin.com.ua
            span.opisi офц.ціна.електр.
          li
            div.icon.prostobank.ua
            a(href='http://www.prostobank.ua/spravochniki/indikatory_rynka/electric_tariff', target='_blank') prostobank.ua
            span.opisi ціна.електр.
          li
            div.icon.kresc.com.ua
            a(href='https://www.kresc.com.ua/', target='_blank') kresc.com.ua
            span.opisi КОЕК
            a(href='https://youtu.be/qIJYbNR_l6g', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Відеоінструкція. Процес реєстрації та огляд особистого кабінету на офіційному сайті компанії ТОВ Кіровоградська обласна ЕК', alt='')
          li
            div.icon.a0pencil-1(title='Текстова інформація', alt='')
            a(href='https://ok.kiroe.com.ua/home', target='_blank') Кабінет електро 2022
            div.icontooinfo.a0repa3(title='Особистий кабінет побутового споживача ПрАТ Кіровоградобленерго', alt='')
          li
            div.icon.a0pencil-1(title='Текстова інформація', alt='')
            a(href='https://koek.billing.city/login', target='_blank') Кабінет електро 2020
            div.icontooinfo.a0repa3(title='Огляд листівки від КОЕК', alt='')
            a(href='https://youtu.be/qIJYbNR_l6g', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Відеоінструкція. Процес реєстрації та огляд особистого кабінету на офіційному сайті компанії ТОВ Кіровоградська обласна ЕК', alt='')
          li
            div.icon.kiroe.com.ua
            a(href='http://kiroe.com.ua/', target='_blank') kiroe.com
            span.opisi Кір-д.обленерго
      .group
        .group-title
          span.badge.badge-success Вода
          
        ul
          li
            div.icon.maanimo.com
            a(href='https://maanimo.com/indexes/140162-tarify-na-vodu-dlya-naseleniya-v-ukraine', target='_blank') maanimo.com
            span.opisi ціна.вода.Укр.
      .group
        .group-title
          span.badge.badge-success Опалення
          
        ul
          li
            div.icon.maanimo.com
            a(href='https://maanimo.com/indexes/142540-tarify-na-otoplenie-v-ukraine-sezon-2017-2018', target='_blank') maanimo.com
            span.opisi ціна.опал.Укр.
    .col-sm
      .group
        .group-title
          span.badge.badge-success Інтернет-кабельний
        ul
          li
            div.icon.ukrtelecom.ua
            a(href='https://ukrtelecom.ua/', target='_blank') ukrtelecom
            span.opisi РАХУНОК/ТАРИФИ
            a(href='https://youtu.be/WYhA_JFRVik', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Видеоинструкция. Как узнать суму задолженности и ее оплатить', alt='')
          li
            div.icon.ukrtelecom.ua
            a(href='http://cc.ukrtele.com/', target='_blank') cc.ukrtele.com
            span.opisi Якщо Вас заблокували
          li
            div.icon.my.ukrtelecom.ua
            a(href='http://www.my.ukrtelecom.ua/', target='_blank') my.ukrtelecom
            span.opisi КАБІНЕТ
          li
            div.icon.my.vega.ua
            a(href='https://my.vega.ua/', target='_blank') Vega Telecom
            div.icontooinfo.a0repa3(title='Розділ-Комуналка. Vega Telecom - Національний телеком-оператор в Україні', alt='')
            a(href='https://youtu.be/4accV-xUU30', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Відеоінструкція. Перехід абонентів Укртелеком ОПТИКИ (FTTB) на ВЕГА Телеком', alt='')
            a(href='https://youtu.be/nsknyxq9alo', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Відеоінструкція. Як дізнатися суму заборгованості та її сплатити', alt='')
          li
            div.icon.optonet.com.ua
            a(href='https://optonet.com.ua/', target='_blank') optonet.com.ua
            span.opisi Optonet
          li
            div.icon.shtorm.net
            a(href='https://www.shtorm.net/uk', target='_blank') shtorm.net
            span.opisi Shtorm
          li
            div.icon.skylink_vk
            a(href='http://sky-link.com.ua/', target='_blank') sky-link.com.ua
            span.opisi Sky-link
      .group
        .group-title
          span.badge.badge-success Інтернет-мобільний
          
        ul
          li
            div.icon.kyivstar.ua
            a(href='https://kyivstar.ua/', target='_blank') kyivstar.ua
          li
            div.icon.kyivstar.ua
            a(href='https://pay.kyivstar.ua/', target='_blank') pay.kyivstar.ua
            span.opisi Поповнення
          li
            div.icon.vodafone.ua
            a(href='https://www.vodafone.ua/ru', target='_blank') vodafone.ua
          li
            div.icon.vodafone.ua
            a(href='https://pay.vodafone.ua/', target='_blank') pay.vodafone.ua
            span.opisi Поповнення
          li
            div.icon.lifecell.ua
            a(href='https://www.lifecell.ua/', target='_blank') lifecell.ua
          li
            div.icon.lifecell.ua
            a(href='https://oplata.lifecell.ua/', target='_blank') oplata.lifecell.ua
            span.opisi Поповнення
          li
            div.icon.a3mob.ua
            a(href='http://3mob.ua/', target='_blank') 3mob.ua
          li
            div.icon.intertelecom.ua
            a(href='http://www.intertelecom.ua/', target='_blank') intertelecom.ua
          li
            div.icon.intertelecom.ua
            a(href='http://www.intertelecom.ua/payments', target='_blank') intertelecom
            span.opisi Поповнення
          li
            div.icon.intertelecom.ua
            a(href='https://assa.intertelecom.ua/ru/login', target='_blank') assa.intertelecom
            span.opisi Кабінет
    .col-sm
      .group
        .group-title
          span.badge.badge-success ІНФО от minfin.com.ua
          
        ul
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/labour/salary/min/', target='_blank') Мінім.зароб.плата
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/labour/salary/average/', target='_blank') Середня заробітна плата
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/labour/wagemin/', target='_blank') Прожити.мінімум.в.Україні
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/economy/index/inflation/', target='_blank') Індекс інфляції
      .group
        .group-title
          span.badge.badge-success ІНФО інше
          
        ul
          li
            div.icon.buhoblik.org.ua
            a(href='http://www.buhoblik.org.ua/kadry-zarplata/pensii/2827-2827-minimalnaya-pensiya.html', target='_blank') Мінім.пенсія.в.Україні
