extends _layout.pug
  
block title
  title Ігри - ЗАКЛАДКИ - Список популярних сайтів (ТОП ЗАКЛАДКИ)

block menu
  - var current = 'Ігри'
  - var current_iclass = 'games'
  include _nav.pug
  
block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          span.badge.badge-success Азартні
        ul
          li
            div.icon.onlineigry.com
            a(href='http://onlineigry.com/', target='_blank') onlineigry.com

      .group
        .group-title
          span.badge.badge-success Логічні
        ul
          li
            div.icon.a2048game.com
            a(href='http://2048game.com/ru/', target='_blank') 2048game.com

      .group
        .group-title
          span.badge.badge-success Для КОМПА
        ul
          li
            div.icon.wargaming.net
            a(href='https://ru.wargaming.net/', target='_blank') wargaming.net
          li
            div.icon.torrent-igruha.org
            a(href='https://torrent-igruha.org/top10-online.html', target='_blank') torrent-igruha

    .col-sm
      .group
        .group-title
          span.badge.badge-success Онлайн
        ul
          li
            div.icon.poki.com
            a(href='https://poki.com/ru', target='_blank') poki.com
          li
            div.icon.igroutka.net
            a(href='https://igroutka.net/', target='_blank') igroutka.net
          li
            div.icon.game-game.com.ua
            a(href='http://www.game-game.com.ua/', target='_blank') game-game.com.ua
          li
            div.icon.silvergames
            a(href='https://www.silvergames.com/ru/', target='_blank', title='Грати в класні безкоштовні онлайн ігри на Silvergames.com') silvergames.com

    .col-sm
      .group
        .group-title
          span.badge.badge-success Букмекерська контора - СНД
        ul
          li
            div.icon.fan-sport.com.ua
            a(href='https://fan-sport.com.ua?bf=5c6990af5f28e_515561215', target='_blank') fan-sport.com.ua
          li
            div.icon.a1xbetua.com
            a(href='https://1xbetua.com/?bf=5c6ae4a19a325_515575637', target='_blank') 1xbetua.com
          li
            div.icon.marathonbetweb.win
            a(href='https://www.marathonbetweb.win/su/', target='_blank') marathonbetweb
          li
            div.icon.favbet.com
            a(href='https://www.favbet.com/', target='_blank') favbet.com

      .group
        .group-title
          span.badge.badge-success Букмекерська контора - Європа
        ul
          li
            div.icon.pinnacle.com
            a(href='https://www.pinnacle.com/ru/', target='_blank') pinnacle.com
          li
            div.icon.betfair.com
            a(href='https://www.betfair.com/ua/', target='_blank') betfair.com
          li
            div.icon.sbobet.com
            a(href='https://www.sbobet.com/', target='_blank') sbobet.com