extends _layout.pug
  
block title
  title ZAKLADKI - Список популярных сайтов (топ/top ЗАКЛАДКИ)

block menu
  - var current = 'Главная'
  - var current_iclass = 'fas fa-home'
  include _nav.pug
  
block meta
  meta(name='keywords', content='best sait, лучшие сайты, популярные сайты, каталог сайтов, быстрые ссылки, cписок найпопулярніших веб-сайтів, топ сайтів, speeddial, новости, соцсети, видео, погода')
  meta(name='description', content='Полный список самых популярных сайтов интернета. Удобный каталог сайтов с сортировкой по тематике. Все топ сайты в одном месте. Все для удобства в интернете.')
  
block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          a(href='/others.html')
            span.badge.badge-dark Поиск/Перевод/Граматика
        ul
          li
            div.google.icon
            a(href='https://www.google.com.ua/', target='_blank') Поиск Google
          li
            div.yandex.icon
            a(href='https://yandex.ua/', target='_blank') Поиск Yandex
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.translate.google.com.ua
            a(href='https://translate.google.com.ua/', target='_blank') Переводчик Google
          li
            div.icon.translate.ru
            a(href='https://www.translate.ru/', target='_blank') Переводчик PROMT
          li
            div.icon.languagetool.org
            a(href='https://languagetool.org/uk/', target='_blank') Граматика от languagetool
      .group
        .group-title
          a(href='/social.html')
            span.badge.badge-dark Социум
        ul
          li
            div.icon.facebook.com
            a(href='https://www.facebook.com/', target='_blank') Facebook.com
          li
            div.icon.vk.com
            a(href='https://vk.com/', target='_blank') ВКонтакте
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.ok.ru
            a(href='https://ok.ru/', target='_blank') Однокласники
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.gmail
            a(href='https://mail.google.com', target='_blank') почта_gmail
          li
            div.icon.mail.ukr.net
            a(href='https://accounts.ukr.net/login', target='_blank') почта_ukr.net
          li
            div.icon.webmail.meta.ua
            a(href='https://webmail.meta.ua/', target='_blank') почта_meta.ua
          li
            div.icon.e.mail.ru
            a(href='https://e.mail.ru/login', target='_blank') почта_mail.ru
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
      .group
        .group-title
          a(href='/news.html')
            span.badge.badge-dark Новости
        ul
          li
            div.icon.ukr.net
            a(href='https://www.ukr.net/', target='_blank') Ukr.net
          li
            div.icon.unian.net
            a(href='https://www.unian.net/', target='_blank') Unian.net
          li
            div.icon.sis.at.ua
            a(href='http://sis.at.ua/', target='_blank') Нужные ШТУЧКИ!
          li
            div.icon.myscore.com.ua
            a(href='https://www.myscore.com.ua/', target='_blank') myscore.com.ua
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/tsnukraine/videos', target='_blank') Youtube_ТСН
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UC9oI0Du20oMOlzsLDTQGfug', target='_blank') online_NEWSONE
          li
            div.icon.rada.gov.ua
            a(href='https://rada.gov.ua/', target='_blank') Верховная Рада Украины
      .group
        .group-title
          a(href='/media.html')
            span.badge.badge-dark Медиа
        ul
          li
            div.icon.youtube
            a(href='https://www.youtube.com/', target='_blank') Youtube
          li
            div.icon.viks.tv
            a(href='http://viks.tv/', target='_blank') viks.tv
          li
            div.icon.a1serial.club
            a(href='https://1serial.club/', target='_blank') 1serial.club
          li
            div.icon.kinokrad.co
            a(href='http://kinokrad.co/', target='_blank') kinokrad.co
          li
            div.icon.onlineradiobox.com
            a(href='https://onlineradiobox.com/ua/', target='_blank') onlineradiobox.com
          li
            div.icon.a101.ru
            a(href='http://101.ru/', target='_blank') 101.ru
          li
            div.icon.zaycev.fm
            a(href='https://www.zaycev.fm/', target='_blank') zaycev.fm
          // тут реклама от ГУГЛ
          //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          //- ins.adsbygoogle(style='display:inline-block;width:234px;height:60px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='4257475217')
          //- script.
          //-   (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
    .col-sm
      .group
        .group-title
          a(href='/games.html')
            span.badge.badge-dark Игры
        ul
          li
            div.icon.playset.ru
            a(href='http://www.playset.ru/', target='_blank') playset.ru
          li
            div.icon.luckforfree.com
            a(href='https://luckforfree.com/', target='_blank') luckforfree.com
          li
            div.icon.zumagames.ru
            a(href='http://www.zumagames.ru/', target='_blank') zumagames.ru
          li
            div.icon.wargaming.net
            a(href='https://ru.wargaming.net/', target='_blank') wargaming.net
          li
            div.icon.poki.com
            a(href='https://poki.com/ru', target='_blank') poki.com
          li
            div.icon.vseigru.net
            a(href='http://vseigru.net/', target='_blank') vseigru.net
      .group
        .group-title
          a(href='/games.html')
            span.badge.badge-dark Игры/Букмек.конторы
        ul
          li
            div.icon.fan-sport.com.ua
            a(href='https://fan-sport.com.ua?bf=5c6990af5f28e_515561215', target='_blank') fan-sport.com.ua`
          li
            div.icon.a1xbetua.com
            a(href='https://1xbetua.com/?bf=5c6ae4a19a325_515575637', target='_blank') 1xbetua.com`
      .group
        .group-title
          a(href='/communal.html')
            span.badge.badge-dark Комуналка
        ul
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/tariff/gas/', target='_blank') minfin.com
            span.opisi оф.цена.газ
          li
            div.icon.naftogazpostach.com
            a(href='https://gas.ua/', target='_blank') naftogaz
            span.opisi Кабин.Газ.2019
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/tariff/electric/', target='_blank') minfin.com
            span.opisi оф.цена.электр.
          li
            div.icon.kresc.com.ua
            a(href='http://www.kresc.com.ua/payment.html', target='_blank') kresc.com.ua
            span.opisi Електро.ОЕК
          li
            div.icon.ukrtelecom.ua
            a(href='https://new.ukrtelecom.ua/payment/#generate-bill', target='_blank') ukrtelecom
            span.opisi Укртел.СЧЕТ
            a(href='https://youtu.be/WYhA_JFRVik', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Видеоинструкция. Как узнать суму задолженности и ее оплатить', alt='')
          li
            div.icon.my.vega.ua
            a(href='https://my.vega.ua/', target='_blank') Vega Telecom
            div.icontooinfo.a0repa3(title='Раздел-Комуналка. Vega Telecom - Національний телеком-оператор в Україні', alt='')
            a(href='https://youtu.be/4accV-xUU30', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Видеоинструкция. Переход абонентов Укртелеком ОПТИКИ (FTTB) на ВЕГА Телеком', alt='')
            a(href='https://youtu.be/nsknyxq9alo', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Видеоинструкция. Как узнать суму задолженности и ее оплатить', alt='')
          li
            div.icon.skylink_vk
            a(href='http://sky-link.com.ua/', target='_blank') sky-link.com.ua
            span.opisi Sky-link
          li
            div.icon.kyivstar.ua
            a(href='https://kyivstar.ua/', target='_blank') kyivstar.ua
          li
            div.icon.vodafone.ua
            a(href='https://www.vodafone.ua/ru', target='_blank') vodafone.ua
          li
            div.icon.lifecell.ua
            a(href='https://www.lifecell.ua/', target='_blank') lifecell.ua
      .group
        .group-title
          a(href='/bank.html')
            span.badge.badge-dark Банкинг
        ul
          li
            div.icon.privat24.ua
            a(href='https://www.privat24.ua/', target='_blank') privat24.ua
            span.opisi Онлайн
          li
            div.icon.online.oschadbank.ua
            a(href='https://online.oschadbank.ua/wb/', target='_blank') online.oschadbank
            span.opisi Онлайн
          li
            div.icon.online.aval.ua
            a(href='https://online.aval.ua/ibank/home?0', target='_blank') online.aval.ua
            span.opisi Онлайн
          li
            div.icon.payoneer.com
            a(href='https://www.payoneer.com/raf/?rid=0FA0C022-2289-43EC-8770-3B4409BD83AF', target='_blank') payoneer`
            span.opisi Интерн.кошелек
          li
            div.icon.payeer.com
            a(href='https://payeer.com/?partner=1687223', target='_blank') payeer`
            span.opisi Интерн.кошелек
          li
            div.icon.minfin.com.ua
            a(href='https://minfin.com.ua/currency/', target='_blank') minfin.com.ua
            span.opisi Курс валют
          li
            div.icon.kurs.com.ua
            a(href='https://kurs.com.ua/', target='_blank') kurs
            span.opisi Курс/конверт валют
          li
            div.icon.bestchange.ru
            a(href='https://www.bestchange.ru/', target='_blank') bestchange.ru
            span.opisi Обмен валют
          // тут реклама от ГУГЛ
          //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          //- ins.adsbygoogle(style='display:inline-block;width:234px;height:60px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='4257475217')
          //- script.
          //-   (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
    .col-sm
      .group
        .group-title
          a(href='/market.html')
            span.badge.badge-dark Отследить посылку
        ul
          li
            div.icon.novaposhta.ua
            a(href='https://novaposhta.ua/ru/tracking', target='_blank') novaposhta.ua
          li
            div.icon.intime.ua
            a(href='https://intime.ua/', target='_blank') intime.ua
      .group
        .group-title
          a(href='/market.html')
            span.badge.badge-dark Рынок
        ul
          li
            div.icon.olx.ua
            a(href='https://www.olx.ua/', target='_blank') olx.ua
          li
            div.icon.besplatka.ua
            a(href='https://besplatka.ua/', target='_blank') besplatka.ua
          li
            div.icon.obyava.ua
            a(href='https://obyava.ua/', target='_blank') obyava.ua
          li
            div.icon.shafa.ua
            a(href='https://shafa.ua/', target='_blank') shafa.ua
          li
            div.icon.auto.ria.com
            a(href='https://auto.ria.com/', target='_blank') auto.ria.com
      .group
        .group-title
          a(href='/shops.html')
            span.badge.badge-dark Магазины
        ul
          li
            div.icon.letyshops.com
            a(href='https://letyshops.com/ua/soc/sh-1?r=2739789', target='_blank') Letyshops`
            span.opisi Все дешевле
          li
            div.icon.smarty.sale
            a(href='https://smarty.sale/1197327', target='_blank') Smarty.sale`
            span.opisi Умные покупки
          li
            div.icon.rozetka.com.ua
            a(href='https://letyshops.com/r/rozetka-4qh7st5csxa88w', target='_blank') rozetka.com.ua`
          li
            div.icon.stylus.ua
            a(href='https://letyshops.com/r/stylus-4qh7st5csxogcc', target='_blank') stylus.ua`
          li
            div.icon.eldorado.ua
            a(href='https://letyshops.com/r/eldorado-ua-4qh7st5csxicso', target='_blank') eldorado.ua`
          li
            div.icon.moyo.ua
            a(href='https://letyshops.com/r/moyo-ua-4qh7st5csxogcc', target='_blank') moyo.ua`
          li
            div.icon.xiaomi.ua
            a(href='https://letyshops.com/r/xiaomi-ua-4qh7st5csy680o', target='_blank') xiaomi.ua`
          li
            div.icon.bonprix.ua
            a(href='https://letyshops.com/r/bonprix-ua-4qh7st5csygwc8', target='_blank') bonprix.ua`
          li
            div.icon.apteka24.ua
            a(href='https://letyshops.com/r/apteka24-4qh7st5ct0cggg', target='_blank') apteka24.ua`
      .group
        .group-title
          a(href='/others.html')
            span.badge.badge-dark Другое
        ul
          li
            div.icon.speed2
            a(href='http://speedtest.ukrtelecom.ua/', target='_blank') speedtest.ukrtelecom.ua
          li
            div.icon.rutracker.org
            a(href='https://rutracker.org/', target='_blank') rutracker.org
            div.icontooinfo.a0_Group_m(title='Для скачивания нужна программа TORRENT', alt='')
          li
            div.icon.nnmclub.to
            a(href='http://nnmclub.to/', target='_blank') nnmclub.to
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
            div.icontooinfo.a0_Group_m(title='Для скачивания нужна программа TORRENT', alt='')
          li
            div.icon.filmitorrent
            a(href='http://filmitorrent.xyz/', target='_blank') filmitorrent_TOP
            div.icontooinfo.a0_Group_m(title='Для скачивания нужна программа TORRENT', alt='')
          li
            div.icon.bible-teka.com
            a(href='https://bible-teka.com/synodal/', target='_blank') bible-teka
            span.opisi Библия онлайн
          li
            div.icon.slovohrista.org
            a(href='http://slovohrista.org/', target='_blank') slovohrista.org
          li
            div.icon.vshkole.com
            a(href='https://vshkole.com/', target='_blank') vshkole
            span.opisi ГДЗ/учебники
          // тут реклама от ГУГЛ
          //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          //- ins.adsbygoogle(style='display:inline-block;width:234px;height:60px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='4257475217')
          //- script.
          //-   (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
    .col-sm
      .group
        .group-title
          a(href='/city.html')
            span.badge.badge-dark Городок/Новомиргород
        ul        
          li
            div.icon.forum.zakladki
            a(href='http://zakladki.at.ua/forum/25-6-1#7', target='_blank') НАША КОМУНАЛКА
            div.icontooinfo.a0repa3(title='Ваш Форум по комунальним розрахункам. Ціни, тарифи, рахунки куди оплачувати і т.п.', alt='')
          li
            div.icon.forum.zakladki
            a(href='https://docs.google.com/document/d/1PAe-w_ffriHwYjxYcRd5ZM_JuBw_HEG-jXDwHA0tjpY/edit?usp=sharing', target='_blank') Розклад маршруток
            div.icontooinfo.a0repa3(title='Розклад маршрутних авто по городу Новомиргород', alt='')
          li
            div.icon.google.maps
            a(href='https://www.google.com/maps/place/%D0%9D%D0%BE%D0%B2%D0%BE%D0%BC%D0%B8%D1%80%D0%B3%D0%BE%D1%80%D0%BE%D0%B4,+%D0%9A%D1%96%D1%80%D0%BE%D0%B2%D0%BE%D0%B3%D1%80%D0%B0%D0%B4%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C/@48.7981251,31.5591162,12z/data=!3m1!4b1!4m5!3m4!1s0x40d1a5b80c2c8cdf:0x27e2a212ccc7175c!8m2!3d48.7907203!4d31.6582633', target='_blank') Карта Новомиргорода
          li
            div.icon.sinoptik
            a(href='https://sinoptik.ua/%D0%BF%D0%BE%D0%B3%D0%BE%D0%B4%D0%B0-%D0%BD%D0%BE%D0%B2%D0%BE%D0%BC%D0%B8%D1%80%D0%B3%D0%BE%D1%80%D0%BE%D0%B4', target='_blank') Погода_Sinoptik
          li
            div.icon.rp5.ua
            a(href='http://rp5.ua/%D0%9F%D0%BE%D0%B3%D0%BE%D0%B4%D0%B0_%D0%B2_%D0%9D%D0%BE%D0%B2%D0%BE%D0%BC%D0%B8%D1%80%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B5', target='_blank') Погода_Rp5.ua
          li
            div.icon.meteoprog
            a(href='https://www.meteoprog.ua/ru/review/Novomirgorod/', target='_blank') Погода_Meteoprog
          li
            div.icon.vk.com
            a(href='https://vk.com/novomyrhorod_baraholka', target='_blank') рынок.БАРАХОЛКА
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCKjCg071hg21YxymgDfz5TA', target='_blank') Youtube_г.Новомиргород
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCpx67qi-50ZnWOUlDqBhSNQ', target='_blank') Youtube_Новом-ка ЗШ2
          li
            div.icon.novomirgorod.com
            a(href='http://novomirgorod.com', target='_blank') Новини та події
          li
            div.icon.facebook.com
            a(href='https://www.facebook.com/groups/369041380158080/', target='_blank') Novom.News (facebook)
          li
            div.icon.nmrda.kr-admin.gov.ua
            a(href='http://nmrda.kr-admin.gov.ua/', target='_blank') Районна держ.адміністр.
          li
            div.icon.rada-novomirgorod.gov.ua
            a(href='http://rada-novomirgorod.gov.ua/', target='_blank') Новом-ка міська рада
      .group
        .group-title
          a(href='http://zakladki.at.ua/', target='_blank')
            span.badge.badge-danger Обновки в закладках: v.2019-09-19
        ul
          li
            div.icon.a0info-opis5(title='Полезная информация', alt='')
            div.icon.a0pencil-1(title='Текстовая информация', alt='')
            a(href='https://gas.ua/ua/gas/article/pobutovi-spozhivachi-mozhut-zekonomiti-do-25-na-oplati-za-gaz', target='_blank') ГАЗОВИЙ ЗАПАС
            div.icontooinfo.a0repa3(title='ГАЗОВИЙ ЗАПАС - ПЛАТІТЬ ЗА ГАЗ ДО 25% МЕНШЕ. Побутові споживачі можуть зекономити до 25% на оплаті за газ', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.notino.com
            a(href='https://letyshops.com/r/notino-ua-4qh7st7ru2kg8o', target='_blank') notino.com`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Iнтернет магазин парфумів: Парфуми в акції тижня ✓ Широкий вибір парфумерії та косметики ✓ Гарантія безпечної покупки – Пункт видачі в Києві.', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.krauff.com
            a(href='https://letyshops.com/r/krauff-ua-4qh7st7rujcwss', target='_blank') krauff.com`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Krauff – немецкая элитная посуда. Самый полный каталог посуды Krauff. Бесплатная доставка. Гарантия качества.', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.prego.ua
            a(href='https://letyshops.com/r/prego-ua-4qh7st7rum0www', target='_blank') prego.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Интернет магазин обуви в Киеве ✿ Обувь PREGO ✿ Широкий ассортимент модной и брендовой обуви и сумок по доступным ценам ➦ Доставка по Украине', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.ager.ua
            a(href='https://letyshops.com/r/ager-ua-4qh7st7rur6s0o', target='_blank') ager.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Интернет-магазин Ager - мужская и женская одежда оптом и в розницу. Низкие цены. Дропшиппинг. Совместные покупки. Акции и скидки каждый день.', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.sneakerstudio.com.ua
            a(href='https://letyshops.com/r/sneakerstudio-ua-4qh7st7rusqo0c', target='_blank') sneakerstudio.com.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Продажа кроссовок, обуви ✔ оригинальные бренды ✔ бесплатная доставка ✔цены ниже, чем у конкурентов', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.puccini.ua
            a(href='https://letyshops.com/r/puccini-ua-4qh7st7rv9ycgw', target='_blank') puccini.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Чемоданы, галантерея, кожаные сумки по выгодной цене прямо от производителя. Широкий ассортимент дорожных сумок, кошельков, перчаток и мужских ремней в интернет-магазин Puccini', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.honestgoods.com.ua
            a(href='https://letyshops.com/r/honestgoods-ua-4qh7st7rvbeoos', target='_blank') honestgoods.com.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Подгузники, памперсы, детское питание, детские книги. Интернет магазин детских товаров в Украине. Купить подгузники и детское питание с доставкой - Honest Goods﻿', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.lekos.com.ua
            a(href='https://letyshops.com/r/lekos-ua-4qh7st7rvd6o88', target='_blank') lekos.com.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Купить наручные часы в Украине в Интернет-магазине наручных часов LEKOS', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.originalam.net
            a(href='https://letyshops.com/r/originalam-4qh7st7rveecco', target='_blank') originalam.net`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Все для печати. Предлагаем купить СБПЧ для печатающих устройств Epson, Canon, HP и Brother, перезаправляемые картриджи (ПЗК) и фотобумага. Продажа принтеров, МФУ, плоттеров с установленной системой НПЧ. Мы также производим ремонт печатающих устройств любых фирм.', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.kivi.ua
            a(href='https://letyshops.com/r/kivi-ua-4qh7st7rvfggg0', target='_blank') kivi.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Kivi (Ківі) - Smart телевізори та телебачення в Україні №1. Вибрати телевізор нового покоління KIVI. Купити Смарт тв з можливістю управління через смартфон. В телевізорах KIVI використовуються дисплеї топових конфігурацій від світових виробників. Подаруйте собі можливість насолоджуватись усіма кольорами і відтінками світу разом з KIVI', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.cardo.ua
            a(href='https://letyshops.com/r/cardo-4qh7st7rrpuso8', target='_blank') cardo.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Официальный интернет-магазин брендовой одежды Cardo. ★ Фирменная одежда от бренда Cardo. ✈ Доставка по всей Украине.', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.citrus.ua
            a(href='https://letyshops.com/r/citrus-ua-4qh7st7rrmskgo', target='_blank') citrus.ua`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Интернет-магазин Цитрус — гаджеты и аксессуары', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.russian.alibaba.com
            a(href='https://letyshops.com/r/alibaba-4qh7st7rrfuo0g', target='_blank') russian.alibaba.com`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Алибаба Alibaba, крупнейшая в мире онлайн B2B торговая платформа. Алибаба предлагает качественных производителей, поставщиков, экспортеров, импортеров, покупателей, оптовиков и товары.', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.a0youtubeinform(title='Видео информация', alt='')
            a(href='https://zakladki.github.io/media.html', target='_blank') Новые.MP3.плееры
            div.icontooinfo.a0repa3(title='Раздел-Медиа. Обновлен плеер для прослушивания украинской/русской/зарубежной музыки', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.exmo_com
            a(href='https://exmo.com/?ref=1654818', target='_blank') exmo.com`
            div.icontooinfo.a0repa3(title='Раздел-Банкинг. Надежная биткоин биржа и трейдинг платформа стран СНГ', alt='')
          li
            div.icon.a0info-opis5(title='Полезная информация', alt='')
            div.icon.a0youtubeinform(title='Видео информация', alt='')
            a(href='https://youtu.be/BdZQy6upWFc', target='_blank') Настройка ZAKLADOK
            div.icontooinfo.a0repa3(title='Как быстро настроить ZAKLADKI на компьютере, ноутбуке, смартфоне', alt='')
          li
            div.icon.a0info-add2(title='Добавлен в ZAKLADKI', alt='')
            div.icon.costaction.com
            a(href='http://costaction.com/partner/?PHPSESUD=CEADEE4DA51FAECA3ED6C17C6A9191A5', target='_blank') Хранилище файлов`
            div.icontooinfo.a0repa3(title='Раздел-Программы. Вы будете получать деньги за каждое скачивание Вашего файла. Просто загрузите файлы на Turbobit.net и Hitfile.net, обменивайтесь ими со своим друзьями, и незнакомцами через блоги, социальные сети, форумы или свои сайты!', alt='')

          // тут реклама от ГУГЛ
          //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          //- ins.adsbygoogle(style='display:inline-block;width:250px;height:360px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='8204636692')
          //- script.
          //-   (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
