extends _layout.pug
  
block title
  title ZAKLADKI - Список популярных сайтов (топ/top ЗАКЛАДКИ)

block menu
  - var current = 'Главная'
  - var current_iclass = 'fas fa-home'
  include _nav.pug
  
block meta
  meta(name='keywords', content='best sait, лучшие сайты, популярные сайты, каталог сайтов, быстрые ссылки, cписок найпопулярніших веб-сайтів, топ сайтів, speeddial, новости, соцсети, видео, погода')
  meta(name='description', content='Полный список самых популярных сайтов интернета. Удобный каталог сайтов с сортировкой по тематике. Все топ сайты в одном месте. Все для удобства в интернете.')
  
block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          a(href='/others.html')
            span.badge.badge-dark Поиск/Перевод/Граматика
        ul
          li
            div.google.icon
            a(href='https://www.google.com.ua/', target='_blank') Поиск Google
          //li
            div.yandex.icon
            a(href='https://yandex.ua/', target='_blank') Поиск Yandex
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.translate.google.com.ua
            a(href='https://translate.google.com.ua/', target='_blank') Переводчик Google
          li
            div.icon.translate.ru
            a(href='https://www.translate.ru/', target='_blank') Переводчик PROMT
          li
            div.icon.languagetool.org
            a(href='https://languagetool.org/uk/', target='_blank') Граматика от languagetool
      .group
        .group-title
          a(href='/social.html')
            span.badge.badge-dark Социум
        ul
          li
            div.icon.facebook.com
            a(href='https://www.facebook.com/', target='_blank') Facebook.com
          li
            div.icon.instagram.com
            a(href='https://www.instagram.com/', target='_blank') Instagram.com
          li
            div.icon.twitter.com
            a(href='https://twitter.com/', target='_blank') Twitter.com
          //li
            div.icon.vk.com
            a(href='https://vk.com/', target='_blank') ВКонтакте
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          //li
            div.icon.ok.ru
            a(href='https://ok.ru/', target='_blank') Однокласники
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.gmail
            a(href='https://mail.google.com', target='_blank') почта_gmail
          li
            div.icon.mail.ukr.net
            a(href='https://accounts.ukr.net/login', target='_blank') почта_ukr.net
          li
            div.icon.webmail.meta.ua
            a(href='https://webmail.meta.ua/', target='_blank') почта_meta.ua
          li
            div.icon.e.mail.ru
            a(href='https://e.mail.ru/login', target='_blank') почта_mail.ru
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
      .group
        .group-title
          a(href='/news.html')
            span.badge.badge-dark Новости
        ul
          li
            div.icon.ukr.net
            a(href='https://www.ukr.net/', target='_blank') Ukr.net
          li
            div.icon.unian.net
            a(href='https://www.unian.net/', target='_blank') Unian.net
          li
            div.icon.myscore.com.ua
            a(href='https://www.myscore.com.ua/', target='_blank') myscore.com.ua
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/tsnukraine/videos', target='_blank') Youtube_ТСН
          li
            div.icon.rada.gov.ua
            a(href='https://rada.gov.ua/', target='_blank') Верховная Рада Украины
      .group
        .group-title
          a(href='/media.html')
            span.badge.badge-dark Медиа
        ul
          li
            div.icon.youtube
            a(href='https://www.youtube.com/', target='_blank') Youtube
          li
            div.icon.viks.tv
            a(href='http://viks.tv/', target='_blank') viks.tv
          li
            div.icon.a1serial.club
            a(href='https://1serial.club/', target='_blank') 1serial.club
          li
            div.icon.kinokrad.co
            a(href='http://kinokrad.co/', target='_blank') kinokrad.co
          li
            div.icon.onlineradiobox.com
            a(href='https://onlineradiobox.com/ua/', target='_blank') onlineradiobox.com
          li
            div.icon.a101.ru
            a(href='http://101.ru/', target='_blank') 101.ru
          li
            div.icon.zaycev.fm
            a(href='https://www.zaycev.fm/', target='_blank') zaycev.fm
          // тут реклама от ГУГЛ
          //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          //- ins.adsbygoogle(style='display:inline-block;width:234px;height:60px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='4257475217')
          //- script.
          //-   (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
    .col-sm
      .group
        .group-title
          a(href='/games.html')
            span.badge.badge-dark Игры
        ul
          li
            div.icon.playset.ru
            a(href='http://www.playset.ru/', target='_blank') playset.ru
          li
            div.icon.luckforfree.com
            a(href='https://luckforfree.com/', target='_blank') luckforfree.com
          li
            div.icon.zumagames.ru
            a(href='http://www.zumagames.ru/', target='_blank') zumagames.ru
          li
            div.icon.wargaming.net
            a(href='https://ru.wargaming.net/', target='_blank') wargaming.net
          li
            div.icon.poki.com
            a(href='https://poki.com/ru', target='_blank') poki.com
          li
            div.icon.vseigru.net
            a(href='http://vseigru.net/', target='_blank') vseigru.net
      .group
        .group-title
          a(href='/games.html')
            span.badge.badge-dark Игры/Букмек.конторы
        ul
          li
            div.icon.parimatch.com
            a(href='https://air.parimatch.com/ru/', target='_blank') air.parimatch.com`
          li
            div.icon.fan-sport.com.ua
            a(href='https://fan-sport.com.ua?bf=5c6990af5f28e_515561215', target='_blank') fan-sport.com.ua`
          li
            div.icon.a1xbetua.com
            a(href='https://1xbetua.com/?bf=5c6ae4a19a325_515575637', target='_blank') 1xbetua.com`
      .group
        .group-title
          a(href='/communal.html')
            span.badge.badge-dark Комуналка
        ul
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/tariff/gas/', target='_blank') minfin.com
            span.opisi оф.цена.газ
          li
            div.icon.naftogazpostach.com
            a(href='https://gas.ua/', target='_blank') naftogaz
            span.opisi Кабин.Газ.2019
          li
            div.icon.gasolina-online.com
            a(href='https://gasolina-online.com/', target='_blank') gasolina
            span.opisi Каб.Газ.(доставка)
          li
            div.icon.minfin.com.ua
            a(href='https://index.minfin.com.ua/tariff/electric/', target='_blank') minfin.com
            span.opisi оф.цена.электр.
          li
            div.icon.kresc.com.ua
            a(href='https://www.kresc.com.ua/', target='_blank') kresc.com.ua
            span.opisi КОЕК
            a(href='https://youtu.be/qIJYbNR_l6g', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Відеоінструкція. Процес реєстрації та огляд особистого кабінету на офіційному сайті компанії ТОВ Кіровоградська обласна ЕК', alt='')
          li
            div.icon.a0pencil-1(title='Текстовая информация', alt='')
            a(href='https://koek.billing.city/login', target='_blank') Кабінет електро 2020
            div.icontooinfo.a0repa3(title='Огляд листівки від КОЕК', alt='')
            a(href='https://youtu.be/qIJYbNR_l6g', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Відеоінструкція. Процес реєстрації та огляд особистого кабінету на офіційному сайті компанії ТОВ Кіровоградська обласна ЕК', alt='')
          li
            div.icon.ukrtelecom.ua
            a(href='https://ukrtelecom.ua/', target='_blank') ukrtelecom
            span.opisi СЧЕТ/ТАРИФЫ
            a(href='https://youtu.be/WYhA_JFRVik', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Видеоинструкция. Как узнать суму задолженности и ее оплатить', alt='')
          li
            div.icon.my.vega.ua
            a(href='https://my.vega.ua/', target='_blank') Vega Telecom
            div.icontooinfo.a0repa3(title='Раздел-Комуналка. Vega Telecom - Національний телеком-оператор в Україні', alt='')
            a(href='https://youtu.be/4accV-xUU30', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Видеоинструкция. Переход абонентов Укртелеком ОПТИКИ (FTTB) на ВЕГА Телеком', alt='')
            a(href='https://youtu.be/nsknyxq9alo', target='_blank')
              div.icontooinfo.a0youtubeinform(title='Видеоинструкция. Как узнать суму задолженности и ее оплатить', alt='')
          li
            div.icon.skylink_vk
            a(href='http://sky-link.com.ua/', target='_blank') Sky-link
          li
            div.icon.kyivstar.ua
            a(href='https://kyivstar.ua/', target='_blank') kyivstar.ua
          li
            div.icon.vodafone.ua
            a(href='https://www.vodafone.ua/ru', target='_blank') vodafone.ua
          li
            div.icon.lifecell.ua
            a(href='https://www.lifecell.ua/', target='_blank') lifecell.ua
      .group
        .group-title
          a(href='/bank.html')
            span.badge.badge-dark Банкинг
        ul
          li
            div.icon.privat24.ua
            a(href='https://www.privat24.ua/', target='_blank') privat24.ua
            span.opisi Онлайн
          li
            div.icon.online.oschadbank.ua
            a(href='https://online.oschadbank.ua/wb/', target='_blank') online.oschadbank
            span.opisi Онлайн
          li
            div.icon.online.aval.ua
            a(href='https://online.aval.ua/ibank/home?0', target='_blank') online.aval.ua
            span.opisi Онлайн
          li
            div.icon.payoneer.com
            a(href='https://www.payoneer.com/', target='_blank') payoneer
            span.opisi Интерн.кошелек
          li
            div.icon.payeer.com
            a(href='https://payeer.com/?partner=1687223', target='_blank') payeer`
            span.opisi Интерн.кошелек
          li
            div.icon.minfin.com.ua
            a(href='https://minfin.com.ua/currency/', target='_blank') minfin.com.ua
            span.opisi Курс валют
          li
            div.icon.bestchange.ru
            a(href='https://www.bestchange.ru/', target='_blank') bestchange.ru
            span.opisi Обмен валют
          // тут реклама от ГУГЛ
          //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          //- ins.adsbygoogle(style='display:inline-block;width:234px;height:60px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='4257475217')
          //- script.
          //-   (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
    .col-sm
      .group
        .group-title
          a(href='/market.html')
            span.badge.badge-dark Отследить посылку
        ul
          li
            div.icon.novaposhta.ua
            a(href='https://novaposhta.ua/ru/tracking', target='_blank') novaposhta.ua
          li
            div.icon.intime.ua
            a(href='https://intime.ua/', target='_blank') intime.ua
      .group
        .group-title
          a(href='/market.html')
            span.badge.badge-dark Рынок
        ul
          li
            div.icon.olx.ua
            a(href='https://www.olx.ua/', target='_blank') olx.ua
          li
            div.icon.besplatka.ua
            a(href='https://besplatka.ua/', target='_blank') besplatka.ua
          li
            div.icon.obyava.ua
            a(href='https://obyava.ua/', target='_blank') obyava.ua
          li
            div.icon.shafa.ua
            a(href='https://shafa.ua/', target='_blank') shafa.ua
          li
            div.icon.auto.ria.com
            a(href='https://auto.ria.com/', target='_blank') auto.ria.com
      .group
        .group-title
          a(href='/shops.html')
            span.badge.badge-dark Магазины
        ul
          li
            div.icon.letyshops.com
            a(href='https://letyshops.com/ua/soc/sh-1?r=2739789', target='_blank') Letyshops`
            span.opisi Все дешевле
          li
            div.icon.best.aliexpress.com
            a(href='https://letyshops.com/r/aliexpress-ww-288bce24ac9a', target='_blank') best.aliexpress.com`
          li
            div.icon.rozetka.com.ua
            a(href='https://letyshops.com/r/rozetka-1bf2104efe2d', target='_blank') rozetka.com.ua`
          li
            div.icon.allo.ua
            a(href='https://letyshops.com/r/allo-fdff83d9e607', target='_blank') allo.ua`
          li
            div.icon.moyo.ua
            a(href='https://letyshops.com/r/moyo-ua-98af1fd3453d', target='_blank') moyo.ua`
          li
            div.icon.stylus.ua
            a(href='https://letyshops.com/r/stylus-20dc1c96e7c7', target='_blank') stylus.ua`
          li
            div.icon.skidka.ua
            a(href='https://letyshops.com/r/skidka-ua-38859dfd47b9', target='_blank') skidka.ua`
          li
            div.icon.f.ua
            a(href='https://letyshops.com/r/f-ua-tot-samyi-magazin-eacd5b66c959', target='_blank') f.ua`
          li
            div.icon.xiaomi.ua
            a(href='https://letyshops.com/r/xiaomi-ua-d11562e6217b', target='_blank') xiaomi.ua`
          li
            div.icon.intertop.ua
            a(href='https://letyshops.com/r/intertop-ua-d4e3bd859cbf', target='_blank') intertop.ua`
          li
            div.icon.med-magazin.ua
            a(href='https://letyshops.com/r/med-magazin-ua-db16742e5c0c', target='_blank') med-magazin.ua`
            div.icontooinfo.a0repa3(title='Med-Magazin - сеть магазинов медтехники, медоборудования и товаров для здоровья в Украине', alt='')
          li
            div.icon.apteka24.ua
            a(href='https://www.apteka24.ua/', target='_blank') apteka24.ua
      .group
        .group-title
          a(href='/others.html')
            span.badge.badge-dark Другое
        ul
          li
            div.icon.speed2
            a(href='http://speedtest.ukrtelecom.ua/', target='_blank') speedtest.ukrtelecom.ua
          li
            div.icon.rutracker.org
            a(href='https://rutracker.org/', target='_blank') rutracker.org
            div.icontooinfo.a0_Group_m(title='Для скачивания нужна программа TORRENT', alt='')
          li
            div.icon.nnmclub.to
            a(href='http://nnmclub.to/', target='_blank') nnmclub.to
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
            div.icontooinfo.a0_Group_m(title='Для скачивания нужна программа TORRENT', alt='')
          li
            div.icon.filmitorrent
            a(href='http://filmitorrent.net/', target='_blank') filmitorrent_TOP
            div.icontooinfo.a0_Group_m(title='Для скачивания нужна программа TORRENT', alt='')
          li
            div.icon.rutor.info
            a(href='http://rutor.info/', target='_blank') rutor.info
          li
            div.icon.bible-teka.com
            a(href='https://bible-teka.com/synodal/', target='_blank') bible-teka
            span.opisi Библия онлайн
          li
            div.icon.slovohrista.org
            a(href='http://slovohrista.org/', target='_blank') slovohrista.org
          li
            div.icon.vshkole.com
            a(href='https://vshkole.com/', target='_blank') vshkole
            span.opisi ГДЗ/учебники
          // тут реклама от ГУГЛ
          //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          //- ins.adsbygoogle(style='display:inline-block;width:234px;height:60px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='4257475217')
          //- script.
          //-   (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
    .col-sm
      .group
        .group-title
          a(href='/city.html')
            span.badge.badge-dark Городок/Новомиргород
        ul        
          li
            div.icon.forum.zakladki
            a(href='https://drive.google.com/open?id=1vQHnYGF3VZda2UW38R4xG-pVTk3ggB1FuOoUTpKKCfk', target='_blank') НАША КОМУНАЛКА
            div.icontooinfo.a0repa3(title='Ваш Форум по комунальним розрахункам. Ціни, тарифи, рахунки куди оплачувати і т.п.', alt='')
          li
            div.icon.forum.zakladki
            a(href='https://docs.google.com/document/d/1PAe-w_ffriHwYjxYcRd5ZM_JuBw_HEG-jXDwHA0tjpY/edit?usp=sharing', target='_blank') Розклад автомаршрутів
            div.icontooinfo.a0repa3(title='Розклад автобусів та маршрутних авто по городу Новомиргород', alt='')
          li
            div.icon.google.maps
            a(href='https://www.google.com/maps/place/%D0%9D%D0%BE%D0%B2%D0%BE%D0%BC%D0%B8%D1%80%D0%B3%D0%BE%D1%80%D0%BE%D0%B4,+%D0%9A%D1%96%D1%80%D0%BE%D0%B2%D0%BE%D0%B3%D1%80%D0%B0%D0%B4%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C/@48.7981251,31.5591162,12z/data=!3m1!4b1!4m5!3m4!1s0x40d1a5b80c2c8cdf:0x27e2a212ccc7175c!8m2!3d48.7907203!4d31.6582633', target='_blank') Карта Новомиргорода
          li
            div.icon.sinoptik
            a(href='https://sinoptik.ua/%D0%BF%D0%BE%D0%B3%D0%BE%D0%B4%D0%B0-%D0%BD%D0%BE%D0%B2%D0%BE%D0%BC%D0%B8%D1%80%D0%B3%D0%BE%D1%80%D0%BE%D0%B4', target='_blank') Погода_Sinoptik
          li
            div.icon.rp5.ua
            a(href='http://rp5.ua/%D0%9F%D0%BE%D0%B3%D0%BE%D0%B4%D0%B0_%D0%B2_%D0%9D%D0%BE%D0%B2%D0%BE%D0%BC%D0%B8%D1%80%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%D0%B5', target='_blank') Погода_Rp5.ua
          li
            div.icon.meteoprog
            a(href='https://www.meteoprog.ua/ru/review/Novomirgorod/', target='_blank') Погода_Meteoprog
          li
            div.icon.vk.com
            a(href='https://vk.com/novomyrhorod_baraholka', target='_blank') рынок.БАРАХОЛКА
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCKjCg071hg21YxymgDfz5TA', target='_blank') Youtube_г.Новомиргород
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCpx67qi-50ZnWOUlDqBhSNQ', target='_blank') Youtube_Новом-ка ЗШ2
          li
            div.icon.facebook.com
            a(href='https://www.facebook.com/groups/369041380158080/', target='_blank') Novom.News (facebook)
          li
            div.icon.nmrda.kr-admin.gov.ua
            a(href='http://nmrda.kr-admin.gov.ua/', target='_blank') Районна держ.адміністр.
          li
            div.icon.rada-novomirgorod.gov.ua
            a(href='http://rada-novomirgorod.gov.ua/', target='_blank') Новом-ка міська рада
      .group
        .group-title
          a(href='http://zakladki.at.ua/', target='_blank')
            span.badge.badge-danger Обновки в закладках: v.2022-03-15
        ul
          li
            div.icon.a0pencil-1(title='Текстовая информация', alt='')
            a(href='https://www.google.com/maps/d/u/0/viewer?mid=1ROxxPyw0nPAa5HDAABCBU-IDECabGw3-&ll=49.44530853384404%2C32.06195504902167&z=7', target='_blank') Карта війни в Україні
            div.icontooinfo.a0repa3(title='Візуалізація, - онлайн карта бойових дій в Україні', alt='')
          li
            div.icon.repka.ua
            a(href='https://letyshops.com/r/repka-ua-7352c7232593', target='_blank') repka.ua`
            div.icontooinfo.a0repa3(title='Repka.UA - Лучший сервис и условия доставки по всей Украине. Ноутбуки Смартфоны Бытовая техника Наручные часы Товары для отдыха', alt='')
          li
            div.icon.a0pencil-1(title='Текстовая информация', alt='')
            a(href='https://covid19.who.int/', target='_blank') Карта коронавируса MIR
            div.icontooinfo.a0repa3(title='Вся статистика по коронавирусу, по всей земле', alt='')
          li
            div.icon.silvergames
            a(href='https://www.silvergames.com/ru/', target='_blank') silvergames.com
            div.icontooinfo.a0repa7(title='Играть В Классные Бесплатные Онлайн Игры На Silvergames.com', alt='')
          li
            div.icon.a0youtubeinform(title='Видео информация', alt='')
            a(href='https://zakladki.github.io/media.html', target='_blank') Обновка.MP3.UA+ZAP
            div.icontooinfo.a0repa3(title='Раздел-Медиа. Обновлен плеер для прослушивания украинской/русской/зарубежной музыки', alt='')
          li
            div.icon.a0youtubeinform(title='Видео информация', alt='')
            a(href='https://youtu.be/BdZQy6upWFc', target='_blank') Настройка ZAKLADOK
            div.icontooinfo.a0repa3(title='Как быстро настроить ZAKLADKI на компьютере, ноутбуке, смартфоне', alt='')
          li
            div.icon.costaction.com
            a(href='http://costaction.com/partner/?PHPSESUD=CEADEE4DA51FAECA3ED6C17C6A9191A5', target='_blank') Хранилище файлов`
            div.icontooinfo.a0repa3(title='Раздел-Программы. Вы будете получать деньги за каждое скачивание Вашего файла. Просто загрузите файлы на Turbobit.net и Hitfile.net, обменивайтесь ими со своим друзьями, и незнакомцами через блоги, социальные сети, форумы или свои сайты!', alt='')

          // тут реклама от ГУГЛ
          //- script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          //- ins.adsbygoogle(style='display:inline-block;width:250px;height:360px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='8204636692')
          //- script.
          //-   (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
