extends _layout.pug
  
block title
  title Медіа - ЗАКЛАДКИ - Список популярних сайтів (ТОП ЗАКЛАДКИ)

block menu
  - var current = 'Медіа'
  - var current_iclass = 'media'
  include _nav.pug

block content
  .row.animated.fadeIn
    .col-sm
      .group.cat-orange
        .group-title
          span.badge.badge-warning
            | ТОП-Українські
        ul
          li
            // тут код плеера
            iframe(width='320', height='180', src='https://www.youtube.com/embed/videoseries?list=PLCbt8rNMaiwHl9brI0ggRrnvir9q8kSmA', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            
      .group.cat-orange
        .group-title
          span.badge.badge-warning
            | ТОП-Патріотичні
        ul
          li
            // тут код плеера
            iframe(width='320', height='180', src='https://www.youtube.com/embed/videoseries?list=PLCbt8rNMaiwH0crotsDppzWMkODGmAl2n', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

      .group.cat-orange
        .group-title
          span.badge.badge-warning
            | ТОП-Музика
        ul
          li
            // тут код плеера
            iframe(width='320', height='180', src='https://www.youtube.com/embed/videoseries?list=PLkF1vM_kexQCgisbwlVnGa4zdE4gtMNxD', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            
      .group
        .group-title
          span.badge.badge-success Ваше улюблене відео!
        ul
          li
            div.icon.youtube
            a(href='https://www.youtube.com/', target='_blank') youtube.com
      .group
        .group-title
          span.badge.badge-success ТВ онлайн
        ul
          li
            div.icon.viks.tv
            a(href='http://viks.tv/', target='_blank') viks.tv
          li
            div.icon.ok-tv.org
            a(href='http://ok-tv.org/', target='_blank') ok-tv.org
          li
            div.icon.tivix.co
            a(href='http://tivix.co/', target='_blank') tivix.co
          li
            div.icon.usetv.pp.ua
            a(href='http://usetv.pp.ua/tv/', target='_blank') usetv.pp.ua
      .group
        .group-title
          span.badge.badge-success Кінотеатри
        ul
          li
            div.icon.megogo.net
            a(href='https://megogo.net/ru', target='_blank') megogo.net
          li
    .col-sm
      .group
        .group-title
          span.badge.badge-success Все про Кіно
        ul
          li
            div.icontoo.a0VPN1(title='Для роботи потрібний VPN', alt='')
      .group
        .group-title
          span.badge.badge-success Серіали онлайн
        ul
          li
      .group
        .group-title
          span.badge.badge-success Фільми онлайн
        ul
          li
          li
            div.icon.kinotochka.club
            a(href='http://kinotochka.club/', target='_blank') kinotochka.club
          li
            div.icon.kinogo.cc
            a(href='http://kinogo.cc/', target='_blank') kinogo.cc
          li
            div.icon.filmix.co
            a(href='https://filmix.co/', target='_blank') filmix.co
          li
            div.icon.smotri-filmi.cc
            a(href='http://smotri-filmi.cc/', target='_blank') smotri-filmi.cc
    .col-sm
      .group
        .group-title  
          span.badge.badge-success Радіо онлайн
        ul
          li
            div.icon.onlineradiobox.com
            a(href='https://onlineradiobox.com/ua/', target='_blank') onlineradiobox.com
          li
            div.icon.hitfm.ua
            a(href='https://www.hitfm.ua/', target='_blank') hitfm.ua
          li
      .group
        .group-title
          span.badge.badge-success Музика онлайн
        ul
          li
          li
            div.icon.stopmusic.net
            a(href='https://stopmusic.net/', target='_blank') stopmusic.net
          li
            div.icon.muzofon.com
            a(href='http://muzofon.com/', target='_blank') muzofon.com
          li
            div.icontoo.a0VPN1(title='Для роботи потрібний VPN', alt='')
          li
            div.icontoo.a0VPN1(title='Для роботи потрібний VPN', alt='')
          li
            div.icontoo.a0VPN1(title='Для роботи потрібний VPN', alt='')
          li
            div.icon.web.telegram.org
            a(href='https://t.me/music_breakbeat', target='_blank') music_breakbeat (hit_bit)
            
          li
            div.icon.web.telegram.org
            a(href='https://t.me/music_hitok', target='_blank') music_HitOK (hit_bit)
            
      .group
        .group-title
          span.badge.badge-success Музика ЗАВАНТАЖИТИ
        ul
          li
            div.icon.z1.fm
            a(href='https://z1.fm/', target='_blank') z1.fm
          li
            div.icon.nnmclub.to
            a(href='http://nnmclub.to/forum/portal.php?c=25', target='_blank', title='Для скачивания нужна программа TORRENT') nnm.Збірки, alt='')
          li
            div.icon.nnmclub.to
            a(href='http://nnmclub.to/forum/index.php?c=16', target='_blank', title='Для скачивания нужна программа TORRENT') nnm.Вся.Муз., alt='')
