extends _layout.pug
  
block title
  title Новости
  
block menu
  - var current = 'Новости'
  - var current_iclass = 'news'
  include _nav.pug
  
block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          span.badge.badge-success *Новости*
        ul
          li
            div.icon.ukr.net
            a(href='https://www.ukr.net/', target='_blank') Ukr.net
          li
            div.icon.unian.net
            a(href='https://www.unian.net/', target='_blank') Unian.net
          li
            div.icon.a112.ua
            a(href='https://112.ua/', target='_blank') 112.ua
          li
            div.icon.unn.com.ua
            a(href='https://www.unn.com.ua/', target='_blank') unn.com.ua
          li
            div.icon.a24tv.ua
            a(href='https://24tv.ua/', target='_blank') 24tv.ua
          li
            div.icon.gazeta.ua
            a(href='https://gazeta.ua/', target='_blank') gazeta.ua
          li
            div.icon.ua.korrespondent.net
            a(href='https://ua.korrespondent.net/', target='_blank') ua.korrespondent.net
          li
            div.icon.tsn.ua
            a(href='https://tsn.ua/', target='_blank') tsn.ua
          li
            div.icon.pravda.com.ua
            a(href='https://www.pravda.com.ua/', target='_blank') pravda.com.ua
          li
            div.icon.zik.ua
            a(href='https://zik.ua/', target='_blank') zik.ua
          li
            div.icon.espreso.tv
            a(href='https://espreso.tv/', target='_blank') espreso.tv
          li
            div.icon.meta.ua
            a(href='https://meta.ua/', target='_blank') meta.ua
          li
            div.icon.i.ua
            a(href='https://www.i.ua/', target='_blank') i.ua
          li
            div.icon.censor.net.ua
            a(href='https://censor.net.ua/', target='_blank') censor.net.ua
          li
            div.icon.nv.ua
            a(href='https://nv.ua/', target='_blank') nv.ua
          li
            div.icon.obozrevatel.com
            a(href='https://www.obozrevatel.com/', target='_blank') obozrevatel.com
          li
            div.icon.segodnya.ua
            a(href='https://www.segodnya.ua/', target='_blank') segodnya.ua
          li
            div.icon.online.ua
            a(href='https://www.online.ua/', target='_blank') online.ua
          li
            div.icon.liga.net
            a(href='https://www.liga.net/', target='_blank') liga.net
          li
            div.icon.expres.online
            a(href='https://expres.online/', target='_blank') expres.online
          li
            div.icon.telegraf.com.ua
            a(href='https://telegraf.com.ua/', target='_blank') telegraf.com.ua
      .group
        .group-title
          span.badge.badge-success *Всякое*
        ul
          li
            div.icon.sis.at.ua
            a(href='http://sis.at.ua/', target='_blank') Нужные ШТУЧКИ!
          li
            div.icon.dailytechinfo.org
            a(href='https://dailytechinfo.org/', target='_blank') dailytechinfo.org
    .col-sm
      .group
        .group-title
          span.badge.badge-success *Новости спорта*
        ul
          li
            div.icon.myscore.com.ua
            a(href='https://www.myscore.com.ua/', target='_blank') myscore.com.ua
          li
            div.icon.football.ua
            a(href='https://football.ua/', target='_blank') football.ua
          li
            div.icon.sport.ua
            a(href='https://sport.ua/', target='_blank') sport.ua
          li
            div.icon.sportonline.ua
            a(href='http://www.sportonline.ua/', target='_blank') sportonline.ua
          li
            div.icon.sport-express.ua
            a(href='http://www.sport-express.ua/', target='_blank') sport-express.ua
          li
            div.icon.isport.ua
            a(href='https://isport.ua/', target='_blank') isport.ua
      .group
        .group-title
          span.badge.badge-success *Новости на Youtube*
        ul
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/tsnukraine/videos', target='_blank') Youtube_ТСН
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/sobytia/videos', target='_blank') Youtube_Сегодня
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/ViknaSTB/videos', target='_blank') Youtube_Вікна-новини
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/FaktyICTVchannel/videos', target='_blank') Youtube_Факти ICTV
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/Arxivnn/videos', target='_blank') Youtube_Надзвичайні новини. ICTV
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/podrobnosti/videos', target='_blank') Youtube_Подробности
      .group
        .group-title
          span.badge.badge-success *online-Новости на Youtube*
        ul
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCj4dH8kfRQFey9MYSENPNaQ', target='_blank') online_112 Украина
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UC9oI0Du20oMOlzsLDTQGfug', target='_blank') online_NEWSONE
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCja992VI_u2e52c9FHQXw5A', target='_blank') online_24 Канал
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCUOsDBuiB_1zkRixc33TgSg', target='_blank') online_Телеканал ZIK
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCH9H_b9oJtSHBovh94yB5HA', target='_blank') online_Телеканал Прямий
          li
            div.icon.youtube
            a(href='https://www.youtube.com/channel/UCz7ttPTNO_S1PS9rNsCt_iA', target='_blank') online_НАШ
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/5channel', target='_blank') online_5 канал
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/SvobodaRadio/featured', target='_blank') online_Радио Свобода
          li
            div.icon.youtube
            a(href='https://www.youtube.com/user/euronewsru', target='_blank') online_euronews (на русском)
    .col-sm
      .group
        .group-title
          span.badge.badge-success *Органы государственной власти Украины*
        ul
          li
            div.icon.president.gov.ua
            a(href='https://www.president.gov.ua/', target='_blank') Президент України
          li
            div.icon.rada.gov.ua
            a(href='https://rada.gov.ua/', target='_blank') Верховная Рада Украины
          li
            div.icon.kmu.gov.ua
            a(href='https://www.kmu.gov.ua/', target='_blank') Урядовий портал (КМУ)
          li
            div.icon.bank.gov.ua
            a(href='https://www.bank.gov.ua/', target='_blank') Національний банк України
      .group
        .group-title
          span.badge.badge-success *Другие органы и министерства*
        ul
          li
            div.icon.minagro.gov.ua
            a(href='http://www.minagro.gov.ua/', target='_blank') Мін. аграрної політики та продов.
          li
            div.icon.mvs.gov.ua
            a(href='http://mvs.gov.ua/', target='_blank') Мін. внутрішніх справ
          li
            div.icon.moz.gov.ua
            a(href='http://moz.gov.ua/', target='_blank') Мін. охорони здоров'я України
          li
            div.icon.minfin.gov.ua
            a(href='https://www.minfin.gov.ua/', target='_blank') Мін. фінансів
          li
            div.icon.me.gov.ua
            a(href='http://www.me.gov.ua/', target='_blank') Мін. економічного розвитку і торгівлі
          li
            div.icon.minjust.gov.ua
            a(href='https://minjust.gov.ua/', target='_blank') Мін. юстиції
          li
            div.icon.mon.gov.ua
            a(href='https://mon.gov.ua/', target='_blank') Мін. освіти і науки
          li
            div.icon.msp.gov.ua
            a(href='https://www.msp.gov.ua/', target='_blank') Мін. соціальної політики
          li
            div.icon.pfu.gov.ua
            a(href='https://www.pfu.gov.ua/', target='_blank') Пенсійний фонд України
          li
            div.icon.comin.kmu.gov.ua
            a(href='http://comin.kmu.gov.ua/', target='_blank') Комітет телебачення і радіомовлення
          li
            div.icon.drs.gov.ua
            a(href='http://www.drs.gov.ua/', target='_blank') Державна регуляторна служба
          li
            div.icon.dsns.gov.ua
            a(href='http://www.dsns.gov.ua/', target='_blank') Держ. служба з надзвичайних ситуацій
          li
            div.icon.sfs.gov.ua
            a(href='http://sfs.gov.ua/', target='_blank') Державна фіскальна служба
          li
            div.icon.dcz.gov.ua
            a(href='https://www.dcz.gov.ua/', target='_blank') Державна служба зайнятості
          li
            div.icon.ukrstat.gov.ua
            a(href='http://www.ukrstat.gov.ua/', target='_blank') Державна служба статистики
          li
            div.icon.amc.gov.ua
            a(href='http://www.amc.gov.ua/', target='_blank') Антимонопольний комітет
          li
            div.icon.nads.gov.ua
            a(href='https://nads.gov.ua/', target='_blank') Нац. агентство з питань держ. служби
          li
            div.icon.spfu.gov.ua
            a(href='http://www.spfu.gov.ua/', target='_blank') Фонд державного майна
          li
            div.icon.arbitr.gov.ua
            a(href='http://www.arbitr.gov.ua/', target='_blank') Вищий господарський суд
          li
            div.icon.court.gov.ua
            a(href='https://court.gov.ua/', target='_blank') Судова влада України
