extends _layout.pug
  
block title
  title Інше - ЗАКЛАДКИ - Список популярних сайтів (ТОП ЗАКЛАДКИ)

block menu
  - var current = 'Другое'
  - var current_iclass = 'others'
  include _nav.pug

block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          span.badge.badge-success Анализатор ИНТЕРНЕТ соединения
        ul
          li
            div.icon.speed1
            a(href='http://speedtest.dc.ukrtelecom.ua/', target='_blank') speedtest.dc.ukrtelecom.ua
          li
            div.icon.speed2
            a(href='http://speedtest.ukrtelecom.ua/', target='_blank') speedtest.ukrtelecom.ua
          li
            div.icon.speedtest.net
            a(href='https://www.speedtest.net/', target='_blank') speedtest.net
          li
            div.icon.a2ip.ua
            a(href='https://2ip.ua/ru/', target='_blank') 2ip.ua/ru
          li
            div.icon.skorostinterneta.com
            a(href='https://skorostinterneta.com/proverka', target='_blank') skorostinterneta.com
          li
            div.icon.a2ip.ru
            a(href='https://2ip.ru/', target='_blank') 2ip.ru
      .group
        .group-title
          span.badge.badge-success Поисковики
        ul
          li
            div.icon.google
            a(href='https://www.google.com.ua/', target='_blank') Google
          li
            div.icon.bing.com
            a(href='https://www.bing.com/', target='_blank') Bing.com
          li
            div.icon.ask.com
            a(href='https://uk.ask.com/', target='_blank') Ask.com
          li
            div.icon.yahoo.com
            a(href='https://www.yahoo.com/', target='_blank') Yahoo.com
          li
            div.icon.wolframalpha.com
            a(href='https://www.wolframalpha.com/', target='_blank') Wolframalpha.com
          li
            div.icon.yandex
            a(href='https://yandex.ua/', target='_blank') Yandex
            span.opisi нужен VPN
          li
            div.icon.e.mail.ru
            a(href='https://mail.ru/', target='_blank') Mail.ru
            span.opisi нужен VPN
          li
            div.icon.rambler.ru
            a(href='https://www.rambler.ru/', target='_blank') Rambler.ru
          li
            div.icon.duckduckgo.com
            a(href='https://duckduckgo.com/', target='_blank') Duckduckgo.com
          li
            div.icon.msxml.excite.com
            a(href='http://msxml.excite.com/', target='_blank') Excite.com
          li
            div.icon.i.ua
            a(href='https://www.i.ua/', target='_blank') I.ua
          li
            div.icon.ukr.net
            a(href='https://www.ukr.net/', target='_blank') Ukr.net
          li
            div.icon.meta.ua
            a(href='https://meta.ua/', target='_blank') Meta.ua
          li
            div.icon.shukalka.com.ua
            a(href='https://shukalka.com.ua/', target='_blank') Shukalka.com.ua
      .group
        .group-title
          span.badge.badge-success Переводчики
        ul
          li
            div.icon.translate.google.com.ua
            a(href='https://translate.google.com.ua/', target='_blank') Переводчик Google
          li
            div.icon.translate.ru
            a(href='https://www.translate.ru/', target='_blank') Переводчик PROMT
      .group
        .group-title
          span.badge.badge-success Граматика
        ul
          li
            div.icon.languagetool.org
            a(href='https://languagetool.org/uk/', target='_blank') Граматика от languagetool
    .col-sm
      .group
        .group-title
          span.badge.badge-warning Торрент-программы
        ul
          li
            div.icon.utorrent.com
            a(href='https://www.utorrent.com/intl/ru/desktop/', target='_blank') Скачать utorrent
          li
            div.icon.acestream.org
            a(href='http://www.acestream.org/', target='_blank') Скачать Acestream плеер
      .group
        .group-title
          span.badge.badge-success Торрент-трекеры
        ul
          li
            div.icon.rutracker.org
            a(href='https://rutracker.org/', target='_blank') rutracker.org
          li
            div.icon.nnmclub.to
            a(href='http://nnmclub.to/', target='_blank') nnmclub.to
            span.opisi возможно VPN
          li
            div.icon.utorrent.com
            a(href='http://newtorrent.org/', target='_blank') newtorrent.org
          li
            div.icon.filmitorrent
            a(href='http://filmitorrent.net/', target='_blank') filmitorrent
            span.opisi ТОП фильмы
          li
            div.icon.pb.wtf
            a(href='https://pb.wtf/', target='_blank') pb.wtf
            span.opisi фильмы
          li
            div.icon.torrent-filmi.net
            a(href='http://torrent-filmi.net/', target='_blank') torrent-filmi.net
            span.opisi фильмы
          li
            div.icon.lostfilm.tv
            a(href='https://www.lostfilm.tv/', target='_blank') lostfilm.tv
          li
            div.icon.rutor.info
            a(href='http://rutor.info/', target='_blank') rutor.info
      .group
        .group-title
          span.badge.badge-success Карты
        ul
          li
            div.icon.google.maps
            a(href='https://www.google.com.ua/maps/', target='_blank') google_maps
          li
            div.icon.yandex_maps
            a(href='https://yandex.ua/maps/', target='_blank') yandex_maps
            span.opisi нужен VPN
          li
            div.icon.maps.visicom.ua
            a(href='https://maps.visicom.ua/', target='_blank') maps.visicom.ua
      .group
        .group-title
          span.badge.badge-success Интернет хранилище для ВАС (облако)
        ul
          li
            div.icon.mega.nz
            a(href='https://mega.nz/', target='_blank') mega.nz
            span.opisi получите 50 ГБ
          li
            div.icon.drive.google.com
            a(href='https://drive.google.com/drive/', target='_blank') drive.google.com
            span.opisi получите 15 ГБ
          li
            div.icon.dropbox.com
            a(href='https://www.dropbox.com/ru/', target='_blank') dropbox.com
            span.opisi получите 2-5 ГБ
    .col-sm
      .group
        .group-title
          span.badge.badge-success Религия
        ul
          li
            div.icon.bibleonline.ru
            a(href='https://www.bibleonline.ru/', target='_blank') bibleonline.ru
            span.opisi Библия онлайн
          li
            div.icon.bible-teka.com
            a(href='https://bible-teka.com/synodal/', target='_blank') bible-teka.com
            span.opisi Библия онлайн
          li
            div.icon.bible.by
            a(href='https://bible.by/', target='_blank') bible.by
            span.opisi Библия онлайн
          li
            div.icon.slovohrista.org
            a(href='http://slovohrista.org/', target='_blank') slovohrista.org
          li
            div.icon.slovo50.at.ua
            a(href='http://slovo50.at.ua/', target='_blank') slovo50.at.ua
      .group
        .group-title
          span.badge.badge-success Всякое
        ul
          li
            div.icon.wikipedia.org
            a(href='https://ru.wikipedia.org/', target='_blank') wikipedia
            span.opisi Свободная энциклопедия
          li
            div.icon.a1000.menu
            a(href='https://1000.menu/', target='_blank') 1000.menu
            span.opisi Вкусные домашние рецепты
          li
            div.icon.remontcompa.ru
            a(href='https://remontcompa.ru/', target='_blank') remontcompa
            span.opisi Энциклопедия Windows
          li
            div.icon.passmark.com
            a(href='https://www.passmark.com/', target='_blank') passmark
            span.opisi Сравнение комп.железа
          li
            div.icon.roomtodo.com
            a(href='https://roomtodo.com/', target='_blank') roomtodo.com
            span.opisi Дизайну інтер'єру 3D
          li
            div.icon.prnt.sc
            a(href='https://prnt.sc/', target='_blank') Lightshot
            span.opisi Инструмент для скриншотов
          li
            div.icon.onlinetimer
            a(href='https://onlinetimer.ru/', target='_blank') onlinetimer
            span.opisi Онлайн Таймер
          li
            div.icon.time.in.ua
            a(href='http://time.in.ua/', target='_blank') time.in.ua
            span.opisi Точное время
          li
            div.icon.ntp-servers.net
            a(href='https://www.ntp-servers.net/', target='_blank') ntp-servers
            span.opisi Свободная энциклопедия
          li
            div.icon.vshkole.com
            a(href='https://vshkole.com/', target='_blank') vshkole.com
            span.opisi ГДЗ/решебники/учебники
