extends _layout.pug
  
block title
  title Программы - ZAKLADKI - Список популярных сайтов (топ/top ЗАКЛАДКИ)

block menu
  - var current = 'Программы'
  - var current_iclass = 'fas fa-microchip'
  include _nav.pug

block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title.prog-title
          div.badge.badge-danger Пароль на архивы: zakladki

          span.badge.badge-warning Интернет-хранилище файлов
        ul
          li
            div.icon.costaction.com
            a(href='http://costaction.com/partner/?PHPSESUD=CEADEE4DA51FAECA3ED6C17C6A9191A5', target='_blank') Хранилище файлов`
            div.icontooinfo.a0repa3(title='Раздел-Программы. Вы будете получать деньги за каждое скачивание Вашего файла. Просто загрузите файлы на Turbobit.net и Hitfile.net, обменивайтесь ими со своим друзьями, и незнакомцами через блоги, социальные сети, форумы или свои сайты!', alt='')

      .group
        .group-title
          span.badge.badge-warning Всяки настройки
        ul
          li
            div.icon.a0youtubeinform(title='Видео информация', alt='')
            a(href='https://youtu.be/BdZQy6upWFc', target='_blank') Настройка сайта ZAKLADOK
            div.icontooinfo.a0repa3(title='Как быстро настроить ZAKLADKI на компьютере, ноутбуке, смартфоне', alt='')

      .group
        .group-title
          span.badge.badge-warning Торрент-программы
        ul
          li
            div.icon.utorrent.com
            a(href='https://www.utorrent.com/intl/ru/desktop/', target='_blank') Скачать utorrent
          li
            div.icon.acestream.org
            a(href='http://www.acestream.org/', target='_blank') Скачать Acestream плеер

      .group
        .group-title
          span.badge.badge-warning Загрузить мессенджеры
        ul
          li
            div.icon.telegram
            a(href='https://tlgrm.ru/apps', target='_blank') Скачать TELEGRAM
          li
            div.icon.viber
            a(href='https://www.viber.com/ru/download/', target='_blank') Скачать VIBER
          li
            div.icon.skype
            a(href='https://www.skype.com/ru/get-skype/', target='_blank') Скачать SKYPE

    .col-sm
      .group
        .group-title
          span.badge.badge-warning Архиваторы
        ul
          li
            div.icon.prog_7zip
            a(href='https://drive.google.com/open?id=1TSaGxlXBG_bRzipPaexwFPfi4eo-U8i3', target='_blank') 7z1900-x86
          li
            div.icon.prog_7zip
            a(href='https://drive.google.com/open?id=106XgURnBE37VC26xyYxCgKusbfCC1hFc', target='_blank') 7z1900-x64
          li
            div.icon.prog_winrar
            a(href='https://drive.google.com/open?id=1vDBqhWCzqkNTlfd8IKr1i9QX7fATYTuU', target='_blank') WinRAR 5.70
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
      .group
        .group-title
          span.badge.badge-warning Проигрыватель
        ul
          li
            div.icon.prog_Aimp
            a(href='https://drive.google.com/open?id=1OqFi7OJjL5FZKjSC_FC3gRbOqsE3sNV-', target='_blank') Aimp (+radio+skin)
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
      .group
        .group-title
          span.badge.badge-warning Скриншотер
        ul
          li
            div.icon.prog_FastStone
            a(href='https://drive.google.com/open?id=1isVYJIBqRhk3ON5CIlUVBb1SO1wyepv7', target='_blank') FastStone.Capture_portable
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
                      
    .col-sm
      .group
        .group-title
          span.badge.badge-warning Удаленное управление компютером
        ul
          li
            div.icon.ammyy_admin
            a(href='https://drive.google.com/open?id=1BEIar3Ge5aw_uDY5isKTNZ5l_4BWD2Nj', target='_blank') Ammyy_admin3.8
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
          li
            div.icon.ammyy_admin
            a(href='https://drive.google.com/open?id=1Yp0_ko_FNcsMm6gMd0vffeMIchArFWD6', target='_blank') Ammyy_admin3.7
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
          li
            div.icon.TeamViewer
            a(href='https://drive.google.com/open?id=1ZTJCd2kIU_HOxJe_wQ8nMOxVbytjNnVJ', target='_blank') TeamViewer.14.Portable
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
      .group
        .group-title
          span.badge.badge-warning Очистка компютера (+автозапуск)
        ul
          li
            div.icon.prog_ccleaner
            a(href='https://drive.google.com/open?id=1SRFx7hNjMrxysVsD2PSFeXjI7XEn7GLe', target='_blank') CCleaner_5.55.7108
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
          li
            div.icon.prog_regorganizer
            a(href='https://drive.google.com/open?id=1JL9K_7YX73tGfGFaUMP-1cxG-RmDubHg', target='_blank') RegOrganizer_8.26
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
      .group
        .group-title
          span.badge.badge-warning Анализ, тест и мониторинг компьютера
        ul
          li
            div.icon.prog_AIDA64
            a(href='https://drive.google.com/open?id=11pfy__qDlI79InKldhfoDBCLFo0kHDN-', target='_blank') AIDA64
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
          li
            div.icon.prog_hwmonitor
            a(href='https://drive.google.com/open?id=1tyknLqKcjkOZvMix-MWBfxDJOkrIkMfU', target='_blank') HWMonitor
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
      .group
        .group-title
          span.badge.badge-warning Для N.O.D.32 продление лицензии
        ul
          li
            div.icon.prog.tnod32
            a(href='https://drive.google.com/open?id=1_n2xbV1wT7c0g-oxDLwTx3wS_RlnXB-2', target='_blank') TNod_СТАРЫЕ_версии
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
          li
            div.icon.prog.tnod32
            a(href='https://drive.google.com/open?id=1AodVQ5PclVVuKgKfW7tSNTsfV--jpvOR', target='_blank') TNod_1.6.7.0
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
          li
            div.icon.prog.tnod32.info
            a(href='https://drive.google.com/open?id=1Kr8mzGBbQ5w62JhPid9t2jSprhH1BZ6W', target='_blank') Инструкции для N.O.D.32 ESET
            div.icontooinfo.a0zippass(title='заархивировано/пароль: zakladki')
