extends _layout.pug
  
block title
  title Магазини - ЗАКЛАДКИ - Список популярних сайтів (ТОП ЗАКЛАДКИ)

block menu
  - var current = 'Магазины'
  - var current_iclass = 'shops'
  include _nav.pug

block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          span.badge.badge-warning Возврат % с покупок
        ul
          li
            div.icon.letyshops.com
            a(href='https://letyshops.com/ua/soc/sh-1?r=2739789', target='_blank') Letyshops`
            span.opisi 30%дешевле
          li
            div.icon.payback.ua
            a(href='https://payback.ua/hMNbS', target='_blank') Payback.ua`
            span.opisi Вам платят!
      .group
        .group-title
          span.badge.badge-warning Аналізатор покупок
        ul
          li
            div.icon.hotline.ua
            a(href='https://hotline.ua/', target='_blank') hotline.ua
          li
            div.icon.ek.ua
            a(href='http://ek.ua/', target='_blank') ek.ua
          li
            div.icon.price.ua
            a(href='https://price.ua/', target='_blank') price.ua
      .group
        .group-title
          span.badge.badge-warning Відгуки покупок
        ul
          li
            div.icon.otzyvua.net
            a(href='https://www.otzyvua.net/', target='_blank') otzyvua.net
          li
            div.icon.otzovik.com
            a(href='https://otzovik.com/', target='_blank') otzovik.com
          li
            div.icon.irecommend
            a(href='https://irecommend.ru/', target='_blank') irecommend.ru
      .group
        .group-title
          span.badge.badge-warning Помічник покупок ЗАРУБІЖ
        ul
          li
            div.icon.pokupayko.com
            a(href='https://pokupayko.com/', target='_blank') pokupayko.com
          li
            div.icon.ecb.bz
            a(href='https://ecb.bz/', target='_blank') ecb.bz
      .group
        .group-title
          span.badge.badge-success Закордонні майданчики
        ul
          li
            div.icon.best.aliexpress.com
            a(href='https://letyshops.com/r/aliexpress-ww-288bce24ac9a', target='_blank') best.aliexpress.com`
          li
            div.icon.russian.alibaba.com
            a(href='https://letyshops.com/r/alibaba-47cf4d24a95b', target='_blank') russian.alibaba.com`
            div.icontooinfo.a0repa3(title='Розділ-магазини. Алібаба Alibaba, найбільша у світі онлайн B2B торгова платформа. Алібаба пропонує якісних виробників, постачальників, експортерів, імпортерів, покупців, оптовиків та товари.', alt='')
          li
            div.icon.ebay.com
            a(href='https://letyshops.com/r/ebay-many-geos-b4602fe18480', target='_blank') ebay.com`
      .group
        .group-title
          span.badge.badge-success Торгові майданчики UA
        ul
          li
            div.icon.prom.ua
            a(href='https://prom.ua/', target='_blank') prom.ua
          li
            div.icon.bigl.ua
            a(href='https://letyshops.com/r/bigl-ua-9d890938d7a1', target='_blank') bigl.ua`
    .col-sm
      .group
        .group-title
          span.badge.badge-success Різні ТОВАРИ!
        ul
          li
            div.icon.rozetka.com.ua
            a(href='https://letyshops.com/r/rozetka-1bf2104efe2d', target='_blank') rozetka.com.ua`
          li
            div.icon.allo.ua
            a(href='https://letyshops.com/r/allo-fdff83d9e607', target='_blank') allo.ua`
          li
            div.icon.eldorado.ua
            a(href='https://eldorado.ua/uk/', target='_blank') eldorado.ua
          li
            div.icon.moyo.ua
            a(href='https://letyshops.com/r/moyo-ua-98af1fd3453d', target='_blank') moyo.ua`
          li
            div.icon.stylus.ua
            a(href='https://letyshops.com/r/stylus-20dc1c96e7c7', target='_blank') stylus.ua`
          li
            div.icon.skidka.ua
            a(href='https://letyshops.com/r/skidka-ua-38859dfd47b9', target='_blank') skidka.ua`
          li
            div.icon.privatmarket.ua
            a(href='https://privatmarket.ua/', target='_blank') privatmarket.ua
            div.icontooinfo.a0repa3(title='ПриватМаркет-товари на виплат, не виходячи з дому. Каталог товарів від магазинів-партнерів ПриватБанку', alt='')
          li
            div.icon.foxtrot.com.ua
            a(href='https://letyshops.com/r/fokstrot-ua-bbd7fbe9dec5', target='_blank') foxtrot.com.ua`
          li
            div.icon.f.ua
            a(href='https://letyshops.com/r/f-ua-tot-samyi-magazin-eacd5b66c959', target='_blank') f.ua`
          li
            div.icon.comfy.ua
            a(href='https://letyshops.com/r/comfy-ua-82eb236a85cf', target='_blank') comfy.ua`
          li
            div.icon.citrus.ua
            a(href='https://letyshops.com/r/citrus-ua-d41d4ae261c6', target='_blank') citrus.ua`
            div.icontooinfo.a0repa3(title='Інтернет-магазин Цитрус - гаджети та аксесуари', alt='')
          li
            div.icon.xiaomi.ua
            a(href='https://letyshops.com/r/xiaomi-ua-d11562e6217b', target='_blank') xiaomi.ua`
          li
            div.icon.repka.ua
            a(href='https://letyshops.com/r/repka-ua-b3bd90ccf1d7', target='_blank') repka.ua`
            div.icontooinfo.a0repa3(title='Repka.UA - Кращий сервіс та умови доставки по всій Україні. Ноутбуки Смартфони Побутова техніка Наручний годинник Товари для відпочинку', alt='')
          li
            div.icon.telemart.ua
            a(href='https://letyshops.com/r/telemart-ua-85c96f0550f9', target='_blank') telemart.ua`
            div.icontooinfo.a0repa3(title='Інтернет-магазин Телемарт — магазин техніки, електроніки та комплектуючих для ПК в Україні.', alt='')
          li
            div.icon.shop.kyivstar.ua
            a(href='https://shop.kyivstar.ua/', target='_blank') shop.kyivstar.ua
          li
            div.icon.avic.ua
            a(href='https://avic.ua', target='_blank') avic.ua
            div.icontooinfo.a0repa3(title='AVIC - зручний інтернет магазин - найкращі ціни, доставка по Україні, широкий асортимент товарів, знижки та розпродажі! 10 років на ринку продажу!', alt='')
          li
            div.icon.coffeeok.com.ua
            a(href='https://letyshops.com/r/kofeyok-ua-ce0d56cb4961', target='_blank') coffeeok.com.ua`
          li
            div.icon.krauff.com
            a(href='https://letyshops.com/r/krauff-ua-04ad67ee4a59', target='_blank') krauff.com`
            div.icontooinfo.a0repa3(title='Krauff – німецький елітний посуд. Найповніший каталог посуду Krauff. Безкоштовна доставка. Гарантія якості.', alt='')
          li
            div.icon.lekos.com.ua
            a(href='https://letyshops.com/r/lekos-ua-91bfb67d208f', target='_blank') lekos.com.ua`
            div.icontooinfo.a0repa3(title='Купити наручний годинник в Україні в Інтернет-магазині наручного годинника LEKOS', alt='')
          li
            div.icon.originalam.net
            a(href='https://letyshops.com/r/originalam-d4ee95d4cc7f', target='_blank') originalam.net`
            div.icontooinfo.a0repa3(title='Все для друку. Пропонуємо купити СБПЧ для друкувальних пристроїв Epson, Canon, HP і Brother, картриджі (ПЗК) і фотопапір, що перезаправляються. Продаж принтерів, МФУ, плотерів із встановленою системою НПЛ. Ми також робимо ремонт друкувальних пристроїв будь-яких фірм.', alt='')
          li
            div.icon.nadzor.ua
            a(href='https://nadzor.ua/', target='_blank') nadzor.ua
            div.icontooinfo.a0repa3(title='Охоронні системи безпеки та відеоспостереження - Nadzor.ua', alt='')
          li
            div.icon.kivi.ua
            a(href='https://kivi.ua/', target='_blank') kivi.ua
            div.icontooinfo.a0repa3(title='Kivi (Ківі) - Smart телебачення та телебачення в Україні №1. Вибрати телевізор нового покоління KIVI. Смарт тв з можливістю управління через смартфон. У телевізорах KIVI використовують дисплеї топових конфігурацій від світових виробників. Подаруйте собі можливість насолоджуватися усіма кольорами та відтінками світу разом з KIVI', alt='')
      .group
        .group-title
          span.badge.badge-success Запчастини, інструменти, прилади
        ul
          li
            div.icon.master-plus.com.ua
            a(href='https://master-plus.com.ua/ua/', target='_blank') master-plus.com.ua
            div.icontooinfo.a0repa3(title='ТМ Мастер-Плюс - Інтернет магазин запчастин для пральних машин, холодильників та іншої побутової техніки.', alt='')
      .group
        .group-title
          span.badge.badge-success Будівельні матеріали
        ul
          li
            div.icon.starkbud.com.ua
            a(href='https://starkbud.com.ua/', target='_blank') starkbud.com.ua
            div.icontooinfo.a0repa3(title='Будівельні матеріали за найкращими цінами - інтернет-магазин СтаркБуд', alt='')
      .group
        .group-title
          span.badge.badge-success Автотовари
        ul
          li
            div.icon.avtozvuk.ua
            a(href='https://letyshops.com/r/baza-avtozvuka-a5cf15178085', target='_blank') avtozvuk.ua`
          li
            div.icon.autoklad.ua
            a(href='https://letyshops.com/r/avtoklad-ua-5af44db22a9e', target='_blank') autoklad.ua'
          li
            div.icon.avtoopt.in.ua
            a(href='https://avtoopt.in.ua', target='_blank') avtoopt.in.ua
          li
            div.icon.avtodiski.net.ua
            a(href='https://letyshops.com/r/avtodiski-ua-3aa75b4f33f3', target='_blank') avtodiski.net.ua`
          li
            div.icon.dok.dbroker.com.ua
            a(href='https://dok.dbroker.com.ua/', target='_blank') dok.dbroker.com.ua
            div.icontooinfo.a0repa3(title='Інтернет – магазин автозапчастин DOK. Тут можна купити запчастини до іномарок. Каталог запчастин. Допомога у підборі та пошук автозапчастин, краща ціна та доставка по Україні.', alt='')
          li
            div.icon.xado.ua
            a(href='https://xado.ua/', target='_blank') xado.ua
            div.icontooinfo.a0repa3(title='Купуйте в ХАДО інтернет-магазині гелі ревіталізанти, мастила для авто, автомастила хадо, автохімію ХАДО, присадки, засоби для зброї, піна хадо для чищення стовбурів, мастило збройове, снайперський лак, дот 4, проникні та індустріальні мастила та багато іншого', alt='')
          li
            div.icon.exist.ua
            a(href='https://letyshops.com/r/exist-ua-1efa4b82ddbe', target='_blank') exist.ua`
            div.icontooinfo.a0repa3(title='Автозапчастини: купити запчастини для авто в інтернет-магазині Exist.ua', alt='')
              
    .col-sm
      .group
        .group-title
          span.badge.badge-success Одяг, взуття, аксессуари
        ul
          li
            div.icon.bonprix.ua
            a(href='https://letyshops.com/r/bonprix-ua-bdb522b61165', target='_blank') bonprix.ua`
          li
            div.icon.intertop.ua
            a(href='https://letyshops.com/r/intertop-ua-d4e3bd859cbf', target='_blank') intertop.ua`
          li
            div.icon.answear.ua
            a(href='https://letyshops.com/r/answear-ua-04be858cc12e', target='_blank') answear.ua`
          li
            div.icon.otto-trade.com.ua
            a(href='https://letyshops.com/r/otto-trade-a38b51fff22e', target='_blank') otto-trade.com.ua`
          li
            div.icon.asos.com
            a(href='https://letyshops.com/r/asos-ww-f3c7f54a61ec', target='_blank') asos.com`
          li
            div.icon.maximoda.com.ua
            a(href='https://maximoda.com.ua/', target='_blank') maximoda.com.ua
            div.icontooinfo.a0repa3(title='MaxiModa - інтернет-магазин модного жіночого одягу, взуття та аксесуарів з України (Київ, Мелітополь)', alt='')
          li
            div.icon.dressa.com.ua
            a(href='https://dressa.com.ua/', target='_blank') dressa.com.ua
            div.icontooinfo.a0repa3(title='Dressa - Стильний та модний жіночий одяг, взуття та аксесуари на будь-який сезон від виробника.', alt='')
          li
            div.icon.cardo.ua
            a(href='http://cardo.ua/', target='_blank') cardo.ua
            div.icontooinfo.a0repa3(title='Офіційний інтернет магазин брендового одягу Cardo. ★ Фірмовий одяг від бренду Cardo. ✈ Доставка по всій Україні.', alt='')
          li
            div.icon.prego.ua
            a(href='https://letyshops.com/r/prego-ua-52bdc95b14bc', target='_blank') prego.ua`
            div.icontooinfo.a0repa3(title='Інтернет магазин взуття ✿ Взуття PREGO ✿ Широкий асортимент модного та брендового взуття та сумок за доступними цінами ➦ Доставка по Україні', alt='')
          li
            div.icon.ager.ua
            a(href='https://ager.ua/', target='_blank') ager.ua
            div.icontooinfo.a0repa3(title='Інтернет-магазин Ager - чоловічий та жіночий одяг оптом та в роздріб. Низькі ціни. Дропшипінг. Спільні покупки. Акції та знижки щодня.', alt='')
          li
            div.icon.sneakerstudio.com.ua
            a(href='https://sneakerstudio.com.ua/', target='_blank') sneakerstudio.com.ua
            div.icontooinfo.a0repa3(title='Продаж кросівок, взуття ✔ оригінальні бренди ✔ безкоштовна доставка ✔ціни нижчі, ніж у конкурентів', alt='')
          li
            div.icon.puccini.ua
            a(href='https://letyshops.com/r/puccini-ua-d7ff49c449ed', target='_blank') puccini.ua`
            div.icontooinfo.a0repa3(title='Валіза, галантерея, шкіряні сумки за вигідною ціною прямо від виробника. Широкий асортимент дорожніх сумок, гаманців, рукавичок та чоловічих ременів в інтернет-магазині Puccini', alt='')
          li
            div.icon.ombre.ua
            a(href='https://ombre.ua/', target='_blank') ombre.ua
            div.icontooinfo.a0repa3(title='OMBRE: чоловічий одяг онлайн. Інтернет-магазин одягу', alt='')
          li
            div.icon.footshop.ua
            a(href='https://www.footshop.ua/', target='_blank') footshop.ua
            div.icontooinfo.a0repa3(title='Найбільший вибір кросівок Adidas, Converse, Nike, Vans та багатьох інших брендів. Все в наявності! Купуйте за вигідними цінами на Footshop.ua.', alt='')
          li
            div.icon.kasta.ua.ua
            a(href='https://letyshops.com/r/modnakasta-7c8a6b2d6fbd', target='_blank') kasta.ua`
            div.icontooinfo.a0repa3(title='Від одягу до техніки', alt='')
      .group
        .group-title
          span.badge.badge-success Дитячі товари
        ul
          li
            div.icon.spok.ua
            a(href='http://spok.ua/', target='_blank') spok.ua
          li
            div.icon.pampik.com
            a(href='https://pampik.com/', target='_blank') pampik.com
          li
            div.icon.chicco.com.ua
            a(href='https://chicco.com.ua/', target='_blank') chicco.com.ua
          li
            div.icon.bi.ua
            a(href='https://letyshops.com/r/budinok-igrashok-937a04529381', target='_blank') bi.ua`
          li
            div.icon.berni.com.ua
            a(href='http://berni.com.ua/', target='_blank') berni.com.ua
          li
            div.icon.honestgoods.com.ua
            a(href='https://honestgoods.com.ua/', target='_blank') honestgoods.com.ua
            div.icontooinfo.a0repa3(title='Підгузки, памперси, дитяче харчування, дитячі книги. Інтернет магазин дитячих товарів в Україні. Купити підгузки та дитяче харчування з доставкою - Honest Goods', alt='')
          li
            div.icon.garnamama.com
            a(href='https://garnamama.com', target='_blank') garnamama.com
            div.icontooinfo.a0repa3(title='Купити дитячий одяг у Києві від українських виробників. Доставка дитячого одягу по Києву та всій Україні', alt='')
      .group
        .group-title
          span.badge.badge-success Косметика/Парфумерія/Ювелір
        ul
          li
            div.icon.yves-rocher.ua
            a(href='https://letyshops.com/r/yves-rocher-ua-79f93ac941cd', target='_blank') yves-rocher.ua`
          li
            div.icon.bomond.com.ua
            a(href='https://bomond.com.ua/', target='_blank') bomond.com.ua
          li
            div.icon.watsons.ua
            a(href='https://letyshops.com/r/watsons-ua-4339ab9f406c', target='_blank') watsons.ua`
            div.icontooinfo.a0repa3(title='Товари для краси та здоровя Інтернет-магазину Watsons Україна', alt='')
          li
            div.icon.ostrivkrasy.com
            a(href='https://letyshops.com/r/ostriv-krasi-b2bbe5486a02', target='_blank') ostrivkrasy.com`
          li
            div.icon.eva.ua 
            a(href='https://letyshops.com/r/eva-ua-413d01831c3f', target='_blank') eva.ua`
            div.icontooinfo.a0repa3(title='EVA - магазини товарів для краси та догляду №1 в Україні.', alt='')
          li
            div.icon.edp.ua
            a(href='https://edp.ua', target='_blank') edp.ua
          li
            div.icon.nyxcosmetic.com.ua
            a(href='https://nyxcosmetic.com.ua/', target='_blank') nyxcosmetic.com.ua
          li
            div.icon.notino.com
            a(href='https://letyshops.com/r/notino-ua-155c1202d9b8', target='_blank') notino.com`
            div.icontooinfo.a0repa3(title='Інтернет магазин парфумів: Парфуми в акції тижня ✓ Широкий вибір парфумерії та косметики ✓ Гарантія безпечної покупки – Пункт видачі в Києві.', alt='')
          li
            div.icon.gold.ua
            a(href='https://letyshops.com/r/gold-ua-b4929fd97ebe', target='_blank') gold.ua`
          li
            div.icon.eurogold.ua
            a(href='https://letyshops.com/r/eurogold-ua-06755202f969', target='_blank') eurogold.ua`
          li
            div.icon.bagland.com.ua
            a(href='https://letyshops.com/r/bagland-ua-c9e039deccbb', target='_blank') bagland.com.ua`
          li
            div.icon.a925.ua
            a(href='https://925.ua/', target='_blank') 925.ua
    .col-sm
      .group
        .group-title
          span.badge.badge-success Здоровя
        ul
          li
            div.icon.apteka911.com.ua
            a(href='https://apteka911.com.ua', target='_blank') apteka911.com.ua
          li
            div.icon.apteka24.ua
            a(href='https://www.apteka24.ua/', target='_blank') apteka24.ua
          li
            div.icon.doc.ua
            a(href='https://doc.ua/', target='_blank') doc.ua
          li
            div.icon.med-magazin.ua
            a(href='https://letyshops.com/r/med-magazin-ua-db16742e5c0c', target='_blank') med-magazin.ua`
            div.icontooinfo.a0repa3(title='Med-Magazin - мережа магазинів медтехніки, медобладнання та товарів для здоровя в Україні', alt='')
      .group
        .group-title
          span.badge.badge-success Сад/город
        ul
          li
            div.icon.florium.ua
            a(href='https://letyshops.com/r/florium-ua-ab76fd630a7f', target='_blank') florium.ua`
            div.icontooinfo.a0repa3(title='Флоріум - Інтернет магазин насіння, саджанців садових, кімнатних рослин та квітів в Україні.', alt='')
      .group
        .group-title
          span.badge.badge-success Освіта (вивчення мов)
        ul
          li
            div.icon.lingualeo.com
            a(href='https://letyshops.com/r/lingualeo-8644cfea56b8', target='_blank') lingualeo.com`
          li
            div.icon.englishdom.com
            a(href='https://letyshops.com/r/englishdom-cab9c1b35ee3', target='_blank') englishdom.com`
      .group
        .group-title
          span.badge.badge-success Книги
        ul
          li
            div.icon.yakaboo.ua
            a(href='https://letyshops.com/r/yakaboo-5e8c1a82f0ee', target='_blank') yakaboo.ua`
          li
            div.icon.grenka.ua
            a(href='https://letyshops.com/r/grenka-ua-1f61fa6dfb35', target='_blank') grenka.ua`
          li
            div.icon.bambook.com
            a(href='https://www.bambook.com/', target='_blank') bambook.com
          li
            div.icon.booklya.ua
            a(href='https://www.booklya.ua', target='_blank') booklya.ua
          li
            div.icon.book24.ua
            a(href='https://letyshops.com/r/book24-ua-c372f7bce86d', target='_blank') book24.ua`
      .group
        .group-title
          span.badge.badge-success Подорож/Відпочинок
        ul
          li
            div.icon.aviasales.ru
            a(href='https://letyshops.com/r/aviasalesru-b2d39fcaf670', target='_blank') aviasales.ru`
          li
            div.icon.booking.com
            a(href='https://letyshops.com/r/bookingcom-a62c627c3482', target='_blank') booking.com`
          li
            div.icon.tickets.ua
            a(href='https://letyshops.com/r/tickets-ua-28c90f8948cb', target='_blank') tickets.ua`
          li
            div.icon.hotels24.ua
            a(href='https://hotels24.ua/', target='_blank') hotels24.ua
          li
            div.icon.rentalcars.com
            a(href='https://letyshops.com/r/rentalcars-2a7ad8d08cd7', target='_blank') rentalcars.com`
          li
            div.icon.ihg.com
            a(href='https://letyshops.com/r/ihg-amea-781954ec81dc', target='_blank') ihg.com
            div.icontooinfo.a0repa3(title='Знайти та забронювати номер в будь-якому готелі мережі брендів IHG: InterContinental, Crowne Plaza, Hotel Indigo, Holiday Inn, Holiday Inn Express, Staybridge Suites і Candlewood Suites.', alt='')
      .group
        .group-title
          span.badge.badge-success Будинок/Квартира/Кімната
        ul
          li
            div.icon.ru.airbnb.com
            a(href='https://ru.airbnb.com/host/homes', target='_blank') ru.airbnb.com
            div.icontooinfo.a0repa3(title='Здайте будинок, квартиру або кімнату та отримуйте додатковий дохід. Створення оголошення абсолютно безкоштовно. Відпускне житло, будинки, враження та місця: знаходите пригоди поблизу або далеко від будинку, відкривайте для себе унікальне житло, враження та місця по всьому світу.', alt='')
