extends _layout.pug
  
block title
  title Магазины - ZAKLADKI - Список популярных сайтов (топ/top ЗАКЛАДКИ)

block menu
  - var current = 'Магазины'
  - var current_iclass = 'shops'
  include _nav.pug

block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          span.badge.badge-warning Возврат % с покупок
        ul
          li
            div.icon.letyshops.com
            a(href='https://letyshops.com/ua/soc/sh-1?r=2739789', target='_blank') Letyshops`
            span.opisi 30%дешевле
          li
            div.icon.payback.ua
            a(href='https://payback.ua/hMNbS', target='_blank') Payback.ua`
            span.opisi Вам платят!
      .group
        .group-title
          span.badge.badge-warning Анализатор покупок
        ul
          li
            div.icon.hotline.ua
            a(href='https://hotline.ua/', target='_blank') hotline.ua
          li
            div.icon.ek.ua
            a(href='http://ek.ua/', target='_blank') ek.ua
          li
            div.icon.price.ua
            a(href='https://price.ua/', target='_blank') price.ua
      .group
        .group-title
          span.badge.badge-warning Отзывник покупок
        ul
          li
            div.icon.otzyvua.net
            a(href='https://www.otzyvua.net/', target='_blank') otzyvua.net
          li
            div.icon.otzovik.com
            a(href='https://otzovik.com/', target='_blank') otzovik.com
          li
            div.icon.irecommend
            a(href='https://irecommend.ru/', target='_blank') irecommend.ru
      .group
        .group-title
          span.badge.badge-warning Помощник покупок ЗАРУБЕЖ
        ul
          li
            div.icon.pokupayko.com
            a(href='https://pokupayko.com/', target='_blank') pokupayko.com
          li
            div.icon.ecb.bz
            a(href='https://ecb.bz/', target='_blank') ecb.bz
      .group
        .group-title
          span.badge.badge-success Зарубежные
        ul
          li
            div.icon.best.aliexpress.com
            a(href='https://letyshops.com/r/aliexpress-4qh7st9dci04g0', target='_blank') best.aliexpress.com`
          li
            div.icon.russian.alibaba.com
            a(href='https://letyshops.com/r/alibaba-4qh7st9dcigwcc', target='_blank') russian.alibaba.com`
            div.icontooinfo.a0repa3(title='Раздел-Магазины. Алибаба Alibaba, крупнейшая в мире онлайн B2B торговая платформа. Алибаба предлагает качественных производителей, поставщиков, экспортеров, импортеров, покупателей, оптовиков и товары.', alt='')
          li
            div.icon.ebay.com
            a(href='https://www.ebay.com/', target='_blank') ebay.com
    .col-sm
      .group
        .group-title
          span.badge.badge-success Любые ТОВАРЫ!
        ul
          li
            div.icon.rozetka.com.ua
            a(href='https://rozetka.com.ua/', target='_blank') rozetka.com.ua
          li
            div.icon.allo.ua
            a(href='https://letyshops.com/r/allo-3f4b6c4857e7', target='_blank') allo.ua`
          li
            div.icon.eldorado.ua
            a(href='https://eldorado.ua/uk/', target='_blank') eldorado.ua
          li
            div.icon.moyo.ua
            a(href='https://letyshops.com/r/moyo-ua-4qh7st9dcjacc8', target='_blank') moyo.ua`
          li
            div.icon.stylus.ua
            a(href='https://letyshops.com/r/stylus-4qh7st9dcjok8o', target='_blank') stylus.ua`
          li
            div.icon.skidka.ua
            a(href='https://letyshops.com/r/skidka-ua-4qh7st93i7408s', target='_blank') skidka.ua`
          li
            div.icon.privatmarket.ua
            a(href='https://privatmarket.ua/', target='_blank') privatmarket.ua
            div.icontooinfo.a0repa3(title='ПриватМаркет–товары в рассрочку, не выходя из дома. Каталог товаров от магазинов-партнеров ПриватБанка', alt='')
          li
            div.icon.foxtrot.com.ua
            a(href='https://letyshops.com/r/fokstrot-ua-4qh7st9dcois0s', target='_blank') foxtrot.com.ua`
          li
            div.icon.f.ua
            a(href='https://letyshops.com/r/f-ua-tot-samyi-magazin-4qh7st9dcoowkk', target='_blank') f.ua`
          li
            div.icon.comfy.ua
            a(href='https://comfy.ua', target='_blank') comfy.ua
          li
            div.icon.citrus.ua
            a(href='https://www.citrus.ua/', target='_blank') citrus.ua
            div.icontooinfo.a0repa3(title='Интернет-магазин Цитрус — гаджеты и аксессуары', alt='')
          li
            div.icon.xiaomi.ua
            a(href='https://letyshops.com/r/xiaomi-ua-4qh7st9dcpa80o', target='_blank') xiaomi.ua`
          li
            div.icon.repka.ua
            a(href='https://letyshops.com/r/repka-ua-7352c7232593', target='_blank') repka.ua`
            div.icontooinfo.a0repa3(title='Repka.UA - Лучший сервис и условия доставки по всей Украине. Ноутбуки Смартфоны Бытовая техника Наручные часы Товары для отдыха', alt='')
          li
            div.icon.telemart.ua
            a(href='https://letyshops.com/r/telemart-ua-4qh7st9dcpickc', target='_blank') telemart.ua`
            div.icontooinfo.a0repa3(title='Интернет-магазин Телемарт — магазин техники, электроники и комплектующих для ПК в Украине', alt='')
          li
            div.icon.shop.kyivstar.ua
            a(href='https://letyshops.com/r/kyivstar-4qh7st9dcps0ow', target='_blank') shop.kyivstar.ua`
          li
            div.icon.avic.ua
            a(href='https://avic.ua', target='_blank') avic.ua
            div.icontooinfo.a0repa3(title='AVIC - удобный интернет магазин - лучшие цены, доставка по Украине, широкий ассортимент товаров, скидки и распродажи! 10 лет на рынке продаж!', alt='')
          li
            div.icon.coffeeok.com.ua
            a(href='https://letyshops.com/r/kofeyok-ua-4qh7st9dcq2o0k', target='_blank') coffeeok.com.ua`
          li
            div.icon.krauff.com
            a(href='https://letyshops.com/r/krauff-ua-4qh7st9dcqask8', target='_blank') krauff.com`
            div.icontooinfo.a0repa3(title='Krauff – немецкая элитная посуда. Самый полный каталог посуды Krauff. Бесплатная доставка. Гарантия качества.', alt='')
          li
            div.icon.lekos.com.ua
            a(href='https://letyshops.com/r/lekos-ua-4qh7st9dcqkgos', target='_blank') lekos.com.ua`
            div.icontooinfo.a0repa3(title='Купить наручные часы в Украине в Интернет-магазине наручных часов LEKOS', alt='')
          li
            div.icon.originalam.net
            a(href='https://letyshops.com/r/originalam-4qh7st9dcqsk8g', target='_blank') originalam.net`
            div.icontooinfo.a0repa3(title='Все для печати. Предлагаем купить СБПЧ для печатающих устройств Epson, Canon, HP и Brother, перезаправляемые картриджи (ПЗК) и фотобумага. Продажа принтеров, МФУ, плоттеров с установленной системой НПЧ. Мы также производим ремонт печатающих устройств любых фирм.', alt='')
          li
            div.icon.nadzor.ua
            a(href='https://letyshops.com/r/nadzor-ua-4qh7st9deco4s4', target='_blank') nadzor.ua`
            div.icontooinfo.a0repa3(title='Охранные системы безопасности и видеонаблюдения - Nadzor.ua', alt='')
          li
            div.icon.kivi.ua
            a(href='https://kivi.ua/', target='_blank') kivi.ua
            div.icontooinfo.a0repa3(title='Kivi (Ківі) - Smart телевізори та телебачення в Україні №1. Вибрати телевізор нового покоління KIVI. Купити Смарт тв з можливістю управління через смартфон. В телевізорах KIVI використовуються дисплеї топових конфігурацій від світових виробників. Подаруйте собі можливість насолоджуватись усіма кольорами і відтінками світу разом з KIVI', alt='')
      .group
        .group-title
          span.badge.badge-success Запчасти, инструменты, приборы
        ul
          li
            div.icon.master-plus.com.ua
            a(href='https://master-plus.com.ua/ua/', target='_blank') master-plus.com.ua
            div.icontooinfo.a0repa3(title='ТМ Мастер-Плюс - Интернет магазин запчастей для стиральных машин, холодильников и другой бытовой техники.', alt='')
      .group
        .group-title
          span.badge.badge-success Строительные материалы
        ul
          li
            div.icon.starkbud.com.ua
            a(href='https://letyshops.com/r/starkbud-ua-4qh7st9ddmyooo', target='_blank') starkbud.com.ua`
            div.icontooinfo.a0repa3(title='Строительные материалы по лучшим ценам - интернет-магазин СтаркБуд', alt='')
      .group
        .group-title
          span.badge.badge-success Автотовары
        ul
          li
            div.icon.avtozvuk.ua
            a(href='https://letyshops.com/r/baza-avtozvuka-4qh7st9ddnac08', target='_blank') avtozvuk.ua`
          li
            div.icon.autoklad.ua
            a(href='https://www.autoklad.ua/', target='_blank') autoklad.ua
          li
            div.icon.avtoopt.in.ua
            a(href='https://avtoopt.in.ua', target='_blank') avtoopt.in.ua
          li
            div.icon.avtodiski.net.ua
            a(href='https://letyshops.com/r/avtodiski-ua-4qh7st9ddnggk0', target='_blank') avtodiski.net.ua`
          li
            div.icon.dok.dbroker.com.ua
            a(href='https://letyshops.com/r/dok-ua-4qh7st9ddns4ok', target='_blank') dok.dbroker.com.ua`
            div.icontooinfo.a0repa3(title='Интернет – магазин автозапчастей DOK. Тут можно купить запчасти для иномарок. Каталог запчастей. Помощь в подборе и поиск автозапчастей, лучшая цена и доставка по Украине.', alt='')
          li
            div.icon.xado.ua
            a(href='https://letyshops.com/r/xado-ua-4qh7st9de6m8wo', target='_blank') xado.ua`
            div.icontooinfo.a0repa3(title='Покупайте в ХАДО интернет-магазине гели ревитализанты, смазки для авто, автомасла хадо, автохимию ХАДО, присадки, средства для оружия, пена хадо для чистки стволов, смазка оружейная, снайперский лак, дот 4, проникающие и индустриальные смазки и многое другое', alt='')
              
    .col-sm
      .group
        .group-title
          span.badge.badge-success Одежда/Обувь/Аксессуары
        ul
          li
            div.icon.bonprix.ua
            a(href='https://letyshops.com/r/bonprix-ua-4qh7st9ddo6cs0', target='_blank') bonprix.ua`
          li
            div.icon.intertop.ua
            a(href='https://letyshops.com/r/intertop-ua-4qh7st9ddog04o', target='_blank') intertop.ua`
          li
            div.icon.answear.ua
            a(href='https://letyshops.com/r/answear-ua-4qh7st9ddog0wk', target='_blank') answear.ua`
          li
            div.icon.otto-trade.com.ua
            a(href='https://letyshops.com/r/otto-trade-4qh7st9ddokkoc', target='_blank') otto-trade.com.ua`
          li
            div.icon.asos.com
            a(href='https://letyshops.com/r/asos-4qh7st9ddou800', target='_blank') asos.com`
          li
            div.icon.maximoda.com.ua
            a(href='https://maximoda.com.ua/', target='_blank') maximoda.com.ua
            div.icontooinfo.a0repa3(title='MaxiModa - интернет-магазин модной женской одежды, обуви и аксессуаров из Украины (Киев, Мелитополь)', alt='')
          li
            div.icon.dressa.com.ua
            a(href='https://dressa.com.ua/', target='_blank') dressa.com.ua
            div.icontooinfo.a0repa3(title='Dressa - Стильная и модная женская одежда, обувь и аксессуары на любой сезон от производителя.', alt='')
          li
            div.icon.cardo.ua
            a(href='https://letyshops.com/r/cardo-4qh7st9ddp8gwc', target='_blank') cardo.ua`
            div.icontooinfo.a0repa3(title='Официальный интернет-магазин брендовой одежды Cardo. ★ Фирменная одежда от бренда Cardo. ✈ Доставка по всей Украине.', alt='')
          li
            div.icon.prego.ua
            a(href='https://letyshops.com/r/prego-ua-7abce57c019e', target='_blank') prego.ua`
            div.icontooinfo.a0repa3(title='Интернет магазин обуви в Киеве ✿ Обувь PREGO ✿ Широкий ассортимент модной и брендовой обуви и сумок по доступным ценам ➦ Доставка по Украине', alt='')
          li
            div.icon.ager.ua
            a(href='https://letyshops.com/r/ager-ua-4qh7st9ddpq8ss', target='_blank') ager.ua`
            div.icontooinfo.a0repa3(title='Интернет-магазин Ager - мужская и женская одежда оптом и в розницу. Низкие цены. Дропшиппинг. Совместные покупки. Акции и скидки каждый день.', alt='')
          li
            div.icon.sneakerstudio.com.ua
            a(href='https://letyshops.com/r/sneakerstudio-ua-4qh7st9ddq0ww8', target='_blank') sneakerstudio.com.ua`
            div.icontooinfo.a0repa3(title='Продажа кроссовок, обуви ✔ оригинальные бренды ✔ бесплатная доставка ✔цены ниже, чем у конкурентов', alt='')
          li
            div.icon.puccini.ua
            a(href='https://letyshops.com/r/puccini-ua-4qh7st9ddq80g0', target='_blank') puccini.ua`
            div.icontooinfo.a0repa3(title='Чемоданы, галантерея, кожаные сумки по выгодной цене прямо от производителя. Широкий ассортимент дорожных сумок, кошельков, перчаток и мужских ремней в интернет-магазин Puccini', alt='')
          li
            div.icon.ombre.ua
            a(href='https://ombre.ua/', target='_blank') ombre.ua
            div.icontooinfo.a0repa3(title='OMBRE: одежда мужская онлайн. Интернет-магазин одежды', alt='')
          li
            div.icon.footshop.ua
            a(href='https://letyshops.com/r/footshop-ua-4qh7st9deiw408', target='_blank') footshop.ua`
            div.icontooinfo.a0repa3(title='Самый большой выбор кроссовок adidas, Converse, Nike, Vans и многих других брендов. Всё в наличии! Покупайте по выгодным ценам на Footshop.ua.', alt='')
      .group
        .group-title
          span.badge.badge-success Детские товары
        ul
          li
            div.icon.spok.ua
            a(href='https://letyshops.com/r/spok-ua-4qh7st9ddqqscc', target='_blank') spok.ua`
          li
            div.icon.pampik.com
            a(href='https://letyshops.com/r/pampik-4qh7st9ddquc48', target='_blank') pampik.com`
          li
            div.icon.chicco.com.ua
            a(href='https://letyshops.com/r/chicco-4qh7st9ddr0ggw', target='_blank') chicco.com.ua`
          li
            div.icon.bi.ua
            a(href='https://letyshops.com/r/budinok-igrashok-4qh7st9ddrc4sk', target='_blank') bi.ua`
          li
            div.icon.berni.com.ua
            a(href='http://berni.com.ua/', target='_blank') berni.com.ua
          li
            div.icon.honestgoods.com.ua
            a(href='https://letyshops.com/r/honestgoods-ua-4qh7st9ddrms44', target='_blank') honestgoods.com.ua`
            div.icontooinfo.a0repa3(title='Подгузники, памперсы, детское питание, детские книги. Интернет магазин детских товаров в Украине. Купить подгузники и детское питание с доставкой - Honest Goods﻿', alt='')
          li
            div.icon.garnamama.com
            a(href='https://garnamama.com', target='_blank') garnamama.com
            div.icontooinfo.a0repa3(title='Купить детскую одежду в Киеве от украинских производителей. Доставка детской одежды по Киеву и всей Украине', alt='')
      .group
        .group-title
          span.badge.badge-success Косметика/Парфюмерия/Ювелир
        ul
          li
            div.icon.yves-rocher.ua
            a(href='https://letyshops.com/r/yves-rocher-ua-4qh7st9dds000g', target='_blank') yves-rocher.ua`
          li
            div.icon.bomond.com.ua
            a(href='https://letyshops.com/r/bomond-4qh7st9dds4ksc', target='_blank') bomond.com.ua`
          li
            div.icon.watsons.ua
            a(href='https://letyshops.com/r/watsons-ua-4qh7st9ddse840', target='_blank') watsons.ua`
            div.icontooinfo.a0repa3(title='Товари для краси та здоровя Інтернет-магазина Watsons Україна', alt='')
          li
            div.icon.ostrivkrasy.com
            a(href='https://letyshops.com/r/ostriv-krasi-4qh7st9ddsmcgo', target='_blank') ostrivkrasy.com`
          li
            div.icon.eva.ua 
            a(href='https://letyshops.com/r/eva-ua-4qh7st9de3ackg', target='_blank') eva.ua`
            div.icontooinfo.a0repa3(title='EVA.ua - магазины товаров для красоты и ухода №1 в Украине', alt='')
          li
            div.icon.edp.ua
            a(href='https://edp.ua', target='_blank') edp.ua
          li
            div.icon.nyxcosmetic.com.ua
            a(href='https://nyxcosmetic.com.ua/', target='_blank') nyxcosmetic.com.ua
          li
            div.icon.notino.com
            a(href='https://letyshops.com/r/notino-ua-4qh7st9ddssg0c', target='_blank') notino.com`
            div.icontooinfo.a0repa3(title='Iнтернет магазин парфумів: Парфуми в акції тижня ✓ Широкий вибір парфумерії та косметики ✓ Гарантія безпечної покупки – Пункт видачі в Києві.', alt='')
          li
            div.icon.gold.ua
            a(href='https://letyshops.com/r/gold-ua-4qh7st9ddt6ows', target='_blank') gold.ua`
          li
            div.icon.eurogold.ua
            a(href='https://letyshops.com/r/eurogold-ua-4qh7st9ddta8oo', target='_blank') eurogold.ua`
          li
            div.icon.bagland.com.ua
            a(href='https://letyshops.com/r/bagland-ua-4qh7st9ddtic8c', target='_blank') bagland.com.ua`
          li
            div.icon.a925.ua
            a(href='https://letyshops.com/r/925deg-4qh7st9ddtogs4', target='_blank') 925.ua`
    .col-sm
      .group
        .group-title
          span.badge.badge-success Здоровье
        ul
          li
            div.icon.apteka911.com.ua
            a(href='https://apteka911.com.ua', target='_blank') apteka911.com.ua
          li
            div.icon.apteka24.ua
            a(href='https://letyshops.com/r/apteka24-71012859b26c', target='_blank') apteka24.ua`
          li
            div.icon.doc.ua
            a(href='https://letyshops.com/r/doc-ua-4qh7st9ddu04wo', target='_blank') doc.ua`
          li
            div.icon.med-magazin.ua
            a(href='https://letyshops.com/r/med-magazin-ua-4qh7st9ddu2oog', target='_blank') med-magazin.ua`
            div.icontooinfo.a0repa3(title='Med-Magazin - сеть магазинов медтехники, медоборудования и товаров для здоровья в Украине', alt='')
      .group
        .group-title
          span.badge.badge-success Сад/Огород
        ul
          li
            div.icon.florium.ua
            a(href='https://letyshops.com/r/florium-ua-4qh7st9dduo0cs', target='_blank') florium.ua`
            div.icontooinfo.a0repa3(title='Флориум - Интернет магазин семян, саженцев садовых, комнатных растений и цветов в Украине.', alt='')
      .group
        .group-title
          span.badge.badge-success Образование (изучение языков)
        ul
          li
            div.icon.lingualeo.com
            a(href='https://letyshops.com/r/lingualeo-4qh7st9dduskwk', target='_blank') lingualeo.com`
          li
            div.icon.englishdom.com
            a(href='https://letyshops.com/r/englishdom-4qh7st9dduw4oc', target='_blank') englishdom.com`
      .group
        .group-title
          span.badge.badge-success Книги
        ul
          li
            div.icon.yakaboo.ua
            a(href='https://letyshops.com/r/yakaboo-2ba5dc8a4c53', target='_blank') yakaboo.ua`
          li
            div.icon.grenka.ua
            a(href='https://letyshops.com/r/grenka-ua-a5dec91a4eea', target='_blank') grenka.ua`
          li
            div.icon.bambook.com
            a(href='https://letyshops.com/r/bambook-ua-4qh7st9ddvk04k', target='_blank') bambook.com`
          li
            div.icon.booklya.ua
            a(href='https://www.booklya.ua', target='_blank') booklya.ua
          li
            div.icon.book24.ua
            a(href='https://letyshops.com/r/book24-ua-4qh7st9ddvk0wc', target='_blank') book24.ua`
      .group
        .group-title
          span.badge.badge-success Путешествие/Отдых
        ul
          li
            div.icon.aviasales.ru
            a(href='https://letyshops.com/r/aviasalesru-4qh7st9ddvy80w', target='_blank') aviasales.ru`
          li
            div.icon.booking.com
            a(href='https://letyshops.com/r/bookingcom-4qh7st9ddw8wck', target='_blank') booking.com`
          li
            div.icon.tickets.ua
            a(href='https://letyshops.com/r/tickets-ua-4qh7st9ddw8wcg', target='_blank') tickets.ua`
          li
            div.icon.hotels24.ua
            a(href='https://hotels24.ua/', target='_blank') hotels24.ua
          li
            div.icon.rentalcars.com
            a(href='https://letyshops.com/r/rentalcars-4qh7st9ddwcgw8', target='_blank') rentalcars.com`
          li
            div.icon.ihg.com
            a(href='https://www.ihg.com/hotels/ru/ru/reservation', target='_blank') ihg.com
            div.icontooinfo.a0repa3(title='Найдите и забронируйте номер в любом отеле сети брэндов IHG: InterContinental, Crowne Plaza, Hotel Indigo, Holiday Inn, Holiday Inn Express, Staybridge Suites и Candlewood Suites.', alt='')
      .group
        .group-title
          span.badge.badge-success Дом/Квартира/Комната
        ul
          li
            div.icon.ru.airbnb.com
            a(href='https://ru.airbnb.com/host/homes', target='_blank') ru.airbnb.com`
            div.icontooinfo.a0repa3(title='Сдайте дом, квартиру или комнату и получайте дополнительный доход. Создание объявления абсолютно бесплатно. Отпускное жилье, дома, впечатления и места: находите приключения поблизости или далеко от дома, открывайте для себя уникальное жилье, впечатления и места по всему миру. ', alt='')
