extends _layout.pug
  
block title
  title Социум - ZAKLADKI - Список популярных сайтов (топ/top ЗАКЛАДКИ)
  
block menu
  - var current = 'Социум'
  - var current_iclass = 'social'
  include _nav.pug
  
block content
  .row.animated.fadeIn
    .col-sm
      .group
        .group-title
          span.badge.badge-warning Загрузить мессенджеры
        ul
          li
            div.icon.telegram
            a(href='https://tlgrm.ru/apps', target='_blank') Скачать TELEGRAM
          li
            div.icon.viber
            a(href='https://www.viber.com/ru/download/', target='_blank') Скачать VIBER
          li
            div.icon.skype
            a(href='https://www.skype.com/ru/get-skype/', target='_blank') Скачать SKYPE
            
      .group
        .group-title
          span.badge.badge-warning Прокачать свой TELEGRAM (канал)
        ul
          li
            div.icon.telemetr.me
            a(href='https://telemetr.me/r/yQsP9VE/', target='_blank') telemetr.me`
            div.icontooinfo.a0repa3(title='Раздел-Социум. Телеметр - аналитика/каталог Телеграм-каналов (Условие: free + нужно иметь 500 подписчиков)', alt='')
            span.opisi free500+rek+stat
          li
            div.icon.tgstat.com
            a(href='https://uk.tgstat.com/', target='_blank') tgstat.com
            div.icontooinfo.a0repa3(title='Раздел-Социум. Добавление канала в каталог бесплатно/статистика/реклама (Условие: БЕСПЛАТНО добавить любой канал в каталог! +Рекламная площадка УДОБНАЯ)', alt='')
            span.opisi free0+rek+stat
          li
            div.icon.telega.in
            a(href='https://telega.in/?ref=Tjy-BcZy', target='_blank') telega.in`
            div.icontooinfo.a0repa3(title='Раздел-Социум. Рекламная площадка. (Условие: добавить канал +100 подписчиков.)', alt='')
            span.opisi free100+rek            
          li
            div.icon.tgrm.su
            a(href='https://tgrm.su/channels/', target='_blank') tgrm.su
            div.icontooinfo.a0repa3(title='Раздел-Социум. Прокачка канала. (Условие: чтобы добавить любой канал в каталог +79 рублей. Поднятия канала в ТОП: 250р/три дня; 500р/на неделю; 1500/на месяц)', alt='')
            span.opisi 79р.+top250р.

          // тут реклама от ГУГЛ - 3 колонки-вконце 336-280
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:inline-block;width:336px;height:280px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='7850904161')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
          
    .col-sm
      .group
        .group-title
          span.badge.badge-success Социальные сети - Зарубеж
        ul
          li
            div.icon.facebook.com
            a(href='https://www.facebook.com/', target='_blank') Facebook.com
          li
            div.icon.instagram.com
            a(href='https://www.instagram.com/', target='_blank') Instagram.com
          li
            div.icon.twitter.com
            a(href='https://twitter.com/', target='_blank') Twitter.com
          li
            div.icon.blogger.com
            a(href='https://www.blogger.com/', target='_blank') Blogger.com
          li
            div.icon.livejournal.com
            a(href='https://www.livejournal.com/', target='_blank') Livejournal.com
      .group
        .group-title
          span.badge.badge-success Социальные сети - Россия
        ul
          li
            div.icon.vk.com
            a(href='https://vk.com/', target='_blank') ВКонтакте
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.ok.ru
            a(href='https://ok.ru/', target='_blank') Однокласники
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
      .group
        .group-title
          span.badge.badge-success Социальные сети - Украина
        ul
          li
            div.icon.ukrface.com.ua
            a(href='https://ukrface.com.ua/reg502400', target='_blank') Ukrface.com.ua`
          li
            div.icon.druzi.uk
            a(href='https://druzi.uk/?ref=weber515sis', target='_blank') Druzi.uk`
          li
            div.icon.ukropen.net
            a(href='https://ukropen.net/reg20056', target='_blank') Ukropen.net`
          li
            div.icon.vsitut.com
            a(href='https://vsitut.com/', target='_blank') Vsitut.com
          li
            div.icon.vreale.net
            a(href='http://vreale.net/reg33916', target='_blank') Vreale.net`
          li
            div.icon.odnogrupniki.com.ua
            a(href='https://odnogrupniki.com.ua/reg32138', target='_blank') Odnogrupniki.com.ua`
          // тут реклама от ГУГЛ - 3 колонки 32050+
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:inline-block;width:320px;height:50px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='1111124042')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
    .col-sm
      .group
        .group-title
          span.badge.badge-success Электронная почта - Зарубеж
        ul
          li
            div.icon.gmail
            a(href='https://mail.google.com', target='_blank') gmail
          li
            div.icon.outlook.live.com
            a(href='https://outlook.live.com/owa/', target='_blank') outlook.live.com
          li
            div.icon.aol.com
            a(href='https://login.aol.com/', target='_blank') aol.com
          li
            div.icon.yahoo.com
            a(href='https://login.yahoo.com/', target='_blank') yahoo.com
      .group
        .group-title
          span.badge.badge-success Электронная почта - Россия
        ul
          li
            div.icon.mail.yandex.ua
            a(href='https://mail.yandex.ua/', target='_blank') mail.yandex.ua
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.e.mail.ru
            a(href='https://e.mail.ru/login', target='_blank') e.mail.ru
            div.icontoo.a0VPN1(title='Для работы нужен VPN', alt='')
          li
            div.icon.mail.rambler.ru
            a(href='https://mail.rambler.ru/', target='_blank') mail.rambler.ru
      .group
        .group-title
          span.badge.badge-success Электронная почта - Украина
        ul
          li
            div.icon.mail.ukr.net
            a(href='https://accounts.ukr.net/login', target='_blank') mail.ukr.net
          li
            div.icon.mail.i.ua
            a(href='http://mail.i.ua/', target='_blank') mail.i.ua
          li
            div.icon.webmail.meta.ua
            a(href='https://webmail.meta.ua/', target='_blank') webmail.meta.ua
          li
            div.icon.mail.bigmir.net
            a(href='https://mail.bigmir.net/', target='_blank') mail.bigmir.net
          li
            div.icon.ukrpost.ua
            a(href='http://ukrpost.ua/loginAction/form.flow', target='_blank') ukrpost
          li
            div.icon.e-mail.ua(, alt='')
            a(href='https://e-mail.ua/', target='_blank') e-mail.ua
          li
            div.icon.mail.ex.ua
            a(href='https://mail.ex.ua/', target='_blank') mail.ex.ua
          // тут реклама от ГУГЛ - 3 колонки 32050+
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:inline-block;width:320px;height:50px', data-ad-client='ca-pub-3065705668384801', data-ad-slot='1111124042')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
          // тут реклама от ГУГЛ
